<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="2017 Lab Retreat"
	useFullscreenExpand="true"
	useThumbDots="false"

>
  <image imageURL="images/DSC00162.jpg"
	thumbURL="thumbs/DSC00162.jpg"
	linkURL="images/DSC00162.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00162.jpg">
    <title><![CDATA[DSC00162]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00165.jpg"
	thumbURL="thumbs/DSC00165.jpg"
	linkURL="images/DSC00165.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00165.jpg">
    <title><![CDATA[DSC00165]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00157.jpg"
	thumbURL="thumbs/DSC00157.jpg"
	linkURL="images/DSC00157.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00157.jpg">
    <title><![CDATA[DSC00157]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00142.jpg"
	thumbURL="thumbs/DSC00142.jpg"
	linkURL="images/DSC00142.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00142.jpg">
    <title><![CDATA[DSC00142]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00147.jpg"
	thumbURL="thumbs/DSC00147.jpg"
	linkURL="images/DSC00147.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00147.jpg">
    <title><![CDATA[DSC00147]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00139.jpg"
	thumbURL="thumbs/DSC00139.jpg"
	linkURL="images/DSC00139.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00139.jpg">
    <title><![CDATA[DSC00139]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00130.jpg"
	thumbURL="thumbs/DSC00130.jpg"
	linkURL="images/DSC00130.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00130.jpg">
    <title><![CDATA[DSC00130]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00126.jpg"
	thumbURL="thumbs/DSC00126.jpg"
	linkURL="images/DSC00126.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00126.jpg">
    <title><![CDATA[DSC00126]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00119.jpg"
	thumbURL="thumbs/DSC00119.jpg"
	linkURL="images/DSC00119.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00119.jpg">
    <title><![CDATA[DSC00119]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00110.jpg"
	thumbURL="thumbs/DSC00110.jpg"
	linkURL="images/DSC00110.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00110.jpg">
    <title><![CDATA[DSC00110]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00116.jpg"
	thumbURL="thumbs/DSC00116.jpg"
	linkURL="images/DSC00116.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00116.jpg">
    <title><![CDATA[DSC00116]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00117.jpg"
	thumbURL="thumbs/DSC00117.jpg"
	linkURL="images/DSC00117.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00117.jpg">
    <title><![CDATA[DSC00117]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00105.jpg"
	thumbURL="thumbs/DSC00105.jpg"
	linkURL="images/DSC00105.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00105.jpg">
    <title><![CDATA[DSC00105]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00106.jpg"
	thumbURL="thumbs/DSC00106.jpg"
	linkURL="images/DSC00106.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00106.jpg">
    <title><![CDATA[DSC00106]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00098.jpg"
	thumbURL="thumbs/DSC00098.jpg"
	linkURL="images/DSC00098.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00098.jpg">
    <title><![CDATA[DSC00098]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00092.jpg"
	thumbURL="thumbs/DSC00092.jpg"
	linkURL="images/DSC00092.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00092.jpg">
    <title><![CDATA[DSC00092]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00095.jpg"
	thumbURL="thumbs/DSC00095.jpg"
	linkURL="images/DSC00095.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00095.jpg">
    <title><![CDATA[DSC00095]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00093.jpg"
	thumbURL="thumbs/DSC00093.jpg"
	linkURL="images/DSC00093.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00093.jpg">
    <title><![CDATA[DSC00093]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00086.jpg"
	thumbURL="thumbs/DSC00086.jpg"
	linkURL="images/DSC00086.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00086.jpg">
    <title><![CDATA[DSC00086]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00077.jpg"
	thumbURL="thumbs/DSC00077.jpg"
	linkURL="images/DSC00077.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00077.jpg">
    <title><![CDATA[DSC00077]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00083.jpg"
	thumbURL="thumbs/DSC00083.jpg"
	linkURL="images/DSC00083.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00083.jpg">
    <title><![CDATA[DSC00083]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00072.jpg"
	thumbURL="thumbs/DSC00072.jpg"
	linkURL="images/DSC00072.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00072.jpg">
    <title><![CDATA[DSC00072]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00053.jpg"
	thumbURL="thumbs/DSC00053.jpg"
	linkURL="images/DSC00053.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00053.jpg">
    <title><![CDATA[DSC00053]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00056.jpg"
	thumbURL="thumbs/DSC00056.jpg"
	linkURL="images/DSC00056.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00056.jpg">
    <title><![CDATA[DSC00056]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00052.jpg"
	thumbURL="thumbs/DSC00052.jpg"
	linkURL="images/DSC00052.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00052.jpg">
    <title><![CDATA[DSC00052]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00044.jpg"
	thumbURL="thumbs/DSC00044.jpg"
	linkURL="images/DSC00044.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00044.jpg">
    <title><![CDATA[DSC00044]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00048.jpg"
	thumbURL="thumbs/DSC00048.jpg"
	linkURL="images/DSC00048.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00048.jpg">
    <title><![CDATA[DSC00048]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00041.jpg"
	thumbURL="thumbs/DSC00041.jpg"
	linkURL="images/DSC00041.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00041.jpg">
    <title><![CDATA[DSC00041]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00031.jpg"
	thumbURL="thumbs/DSC00031.jpg"
	linkURL="images/DSC00031.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00031.jpg">
    <title><![CDATA[DSC00031]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00034.jpg"
	thumbURL="thumbs/DSC00034.jpg"
	linkURL="images/DSC00034.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00034.jpg">
    <title><![CDATA[DSC00034]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00036.jpg"
	thumbURL="thumbs/DSC00036.jpg"
	linkURL="images/DSC00036.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00036.jpg">
    <title><![CDATA[DSC00036]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00014.jpg"
	thumbURL="thumbs/DSC00014.jpg"
	linkURL="images/DSC00014.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00014.jpg">
    <title><![CDATA[DSC00014]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00022.jpg"
	thumbURL="thumbs/DSC00022.jpg"
	linkURL="images/DSC00022.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00022.jpg">
    <title><![CDATA[DSC00022]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00027.jpg"
	thumbURL="thumbs/DSC00027.jpg"
	linkURL="images/DSC00027.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00027.jpg">
    <title><![CDATA[DSC00027]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00006.jpg"
	thumbURL="thumbs/DSC00006.jpg"
	linkURL="images/DSC00006.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00006.jpg">
    <title><![CDATA[DSC00006]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00018.jpg"
	thumbURL="thumbs/DSC00018.jpg"
	linkURL="images/DSC00018.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/Schaffer Lab Retreat Oct 2017/DSC00018.jpg">
    <title><![CDATA[DSC00018]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00017.jpg"
	thumbURL="thumbs/DSC00017.jpg"
	linkURL="images/DSC00017.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/DSC00017.jpg">
    <title><![CDATA[DSC00017]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00024.jpg"
	thumbURL="thumbs/DSC00024.jpg"
	linkURL="images/DSC00024.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/DSC00024.jpg">
    <title><![CDATA[DSC00024]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00117.jpg"
	thumbURL="thumbs/DSC00117.jpg"
	linkURL="images/DSC00117.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/DSC00117.jpg">
    <title><![CDATA[DSC00117]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00139.jpg"
	thumbURL="thumbs/DSC00139.jpg"
	linkURL="images/DSC00139.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/DSC00139.jpg">
    <title><![CDATA[DSC00139]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>