<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="2015 - Holiday Party #1"

>
  <image imageURL="images/IMG_7016.jpg"
	thumbURL="thumbs/IMG_7016.jpg"
	linkURL="images/IMG_7016.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7016.jpg">
    <title><![CDATA[IMG_7016]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7020.jpg"
	thumbURL="thumbs/IMG_7020.jpg"
	linkURL="images/IMG_7020.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7020.jpg">
    <title><![CDATA[IMG_7020]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7021.jpg"
	thumbURL="thumbs/IMG_7021.jpg"
	linkURL="images/IMG_7021.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7021.jpg">
    <title><![CDATA[IMG_7021]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7022.jpg"
	thumbURL="thumbs/IMG_7022.jpg"
	linkURL="images/IMG_7022.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7022.jpg">
    <title><![CDATA[IMG_7022]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7023.jpg"
	thumbURL="thumbs/IMG_7023.jpg"
	linkURL="images/IMG_7023.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7023.jpg">
    <title><![CDATA[IMG_7023]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7024.jpg"
	thumbURL="thumbs/IMG_7024.jpg"
	linkURL="images/IMG_7024.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7024.jpg">
    <title><![CDATA[IMG_7024]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7025.jpg"
	thumbURL="thumbs/IMG_7025.jpg"
	linkURL="images/IMG_7025.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7025.jpg">
    <title><![CDATA[IMG_7025]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7026.jpg"
	thumbURL="thumbs/IMG_7026.jpg"
	linkURL="images/IMG_7026.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7026.jpg">
    <title><![CDATA[IMG_7026]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7027.jpg"
	thumbURL="thumbs/IMG_7027.jpg"
	linkURL="images/IMG_7027.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7027.jpg">
    <title><![CDATA[IMG_7027]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7028.jpg"
	thumbURL="thumbs/IMG_7028.jpg"
	linkURL="images/IMG_7028.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7028.jpg">
    <title><![CDATA[IMG_7028]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7029.jpg"
	thumbURL="thumbs/IMG_7029.jpg"
	linkURL="images/IMG_7029.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7029.jpg">
    <title><![CDATA[IMG_7029]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7030.jpg"
	thumbURL="thumbs/IMG_7030.jpg"
	linkURL="images/IMG_7030.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7030.jpg">
    <title><![CDATA[IMG_7030]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7033.jpg"
	thumbURL="thumbs/IMG_7033.jpg"
	linkURL="images/IMG_7033.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7033.jpg">
    <title><![CDATA[IMG_7033]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7036.jpg"
	thumbURL="thumbs/IMG_7036.jpg"
	linkURL="images/IMG_7036.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7036.jpg">
    <title><![CDATA[IMG_7036]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7037.jpg"
	thumbURL="thumbs/IMG_7037.jpg"
	linkURL="images/IMG_7037.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7037.jpg">
    <title><![CDATA[IMG_7037]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7038.jpg"
	thumbURL="thumbs/IMG_7038.jpg"
	linkURL="images/IMG_7038.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7038.jpg">
    <title><![CDATA[IMG_7038]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7039.jpg"
	thumbURL="thumbs/IMG_7039.jpg"
	linkURL="images/IMG_7039.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7039.jpg">
    <title><![CDATA[IMG_7039]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7042.jpg"
	thumbURL="thumbs/IMG_7042.jpg"
	linkURL="images/IMG_7042.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7042.jpg">
    <title><![CDATA[IMG_7042]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7043.jpg"
	thumbURL="thumbs/IMG_7043.jpg"
	linkURL="images/IMG_7043.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7043.jpg">
    <title><![CDATA[IMG_7043]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7045.jpg"
	thumbURL="thumbs/IMG_7045.jpg"
	linkURL="images/IMG_7045.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7045.jpg">
    <title><![CDATA[IMG_7045]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7047.jpg"
	thumbURL="thumbs/IMG_7047.jpg"
	linkURL="images/IMG_7047.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7047.jpg">
    <title><![CDATA[IMG_7047]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7050.jpg"
	thumbURL="thumbs/IMG_7050.jpg"
	linkURL="images/IMG_7050.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7050.jpg">
    <title><![CDATA[IMG_7050]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7051.jpg"
	thumbURL="thumbs/IMG_7051.jpg"
	linkURL="images/IMG_7051.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7051.jpg">
    <title><![CDATA[IMG_7051]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7052.jpg"
	thumbURL="thumbs/IMG_7052.jpg"
	linkURL="images/IMG_7052.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7052.jpg">
    <title><![CDATA[IMG_7052]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7054.jpg"
	thumbURL="thumbs/IMG_7054.jpg"
	linkURL="images/IMG_7054.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7054.jpg">
    <title><![CDATA[IMG_7054]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7055.jpg"
	thumbURL="thumbs/IMG_7055.jpg"
	linkURL="images/IMG_7055.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7055.jpg">
    <title><![CDATA[IMG_7055]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7056.jpg"
	thumbURL="thumbs/IMG_7056.jpg"
	linkURL="images/IMG_7056.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7056.jpg">
    <title><![CDATA[IMG_7056]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7057.jpg"
	thumbURL="thumbs/IMG_7057.jpg"
	linkURL="images/IMG_7057.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7057.jpg">
    <title><![CDATA[IMG_7057]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7058.jpg"
	thumbURL="thumbs/IMG_7058.jpg"
	linkURL="images/IMG_7058.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7058.jpg">
    <title><![CDATA[IMG_7058]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7059.jpg"
	thumbURL="thumbs/IMG_7059.jpg"
	linkURL="images/IMG_7059.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7059.jpg">
    <title><![CDATA[IMG_7059]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7060.jpg"
	thumbURL="thumbs/IMG_7060.jpg"
	linkURL="images/IMG_7060.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7060.jpg">
    <title><![CDATA[IMG_7060]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7061.jpg"
	thumbURL="thumbs/IMG_7061.jpg"
	linkURL="images/IMG_7061.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7061.jpg">
    <title><![CDATA[IMG_7061]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7065.jpg"
	thumbURL="thumbs/IMG_7065.jpg"
	linkURL="images/IMG_7065.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7065.jpg">
    <title><![CDATA[IMG_7065]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7066.jpg"
	thumbURL="thumbs/IMG_7066.jpg"
	linkURL="images/IMG_7066.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7066.jpg">
    <title><![CDATA[IMG_7066]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7067.jpg"
	thumbURL="thumbs/IMG_7067.jpg"
	linkURL="images/IMG_7067.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7067.jpg">
    <title><![CDATA[IMG_7067]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7068.jpg"
	thumbURL="thumbs/IMG_7068.jpg"
	linkURL="images/IMG_7068.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7068.jpg">
    <title><![CDATA[IMG_7068]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7069.jpg"
	thumbURL="thumbs/IMG_7069.jpg"
	linkURL="images/IMG_7069.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7069.jpg">
    <title><![CDATA[IMG_7069]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7070.jpg"
	thumbURL="thumbs/IMG_7070.jpg"
	linkURL="images/IMG_7070.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7070.jpg">
    <title><![CDATA[IMG_7070]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7071.jpg"
	thumbURL="thumbs/IMG_7071.jpg"
	linkURL="images/IMG_7071.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7071.jpg">
    <title><![CDATA[IMG_7071]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7072.jpg"
	thumbURL="thumbs/IMG_7072.jpg"
	linkURL="images/IMG_7072.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7072.jpg">
    <title><![CDATA[IMG_7072]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7073.jpg"
	thumbURL="thumbs/IMG_7073.jpg"
	linkURL="images/IMG_7073.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7073.jpg">
    <title><![CDATA[IMG_7073]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7074.jpg"
	thumbURL="thumbs/IMG_7074.jpg"
	linkURL="images/IMG_7074.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7074.jpg">
    <title><![CDATA[IMG_7074]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7075.jpg"
	thumbURL="thumbs/IMG_7075.jpg"
	linkURL="images/IMG_7075.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7075.jpg">
    <title><![CDATA[IMG_7075]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7077.jpg"
	thumbURL="thumbs/IMG_7077.jpg"
	linkURL="images/IMG_7077.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7077.jpg">
    <title><![CDATA[IMG_7077]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7078.jpg"
	thumbURL="thumbs/IMG_7078.jpg"
	linkURL="images/IMG_7078.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7078.jpg">
    <title><![CDATA[IMG_7078]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7080.jpg"
	thumbURL="thumbs/IMG_7080.jpg"
	linkURL="images/IMG_7080.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7080.jpg">
    <title><![CDATA[IMG_7080]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7081.jpg"
	thumbURL="thumbs/IMG_7081.jpg"
	linkURL="images/IMG_7081.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7081.jpg">
    <title><![CDATA[IMG_7081]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7082.jpg"
	thumbURL="thumbs/IMG_7082.jpg"
	linkURL="images/IMG_7082.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7082.jpg">
    <title><![CDATA[IMG_7082]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7083.jpg"
	thumbURL="thumbs/IMG_7083.jpg"
	linkURL="images/IMG_7083.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7083.jpg">
    <title><![CDATA[IMG_7083]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7084.jpg"
	thumbURL="thumbs/IMG_7084.jpg"
	linkURL="images/IMG_7084.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7084.jpg">
    <title><![CDATA[IMG_7084]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>