<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="2012 - Sid's Farewell Party"

>
  <image imageURL="images/DSC07097.jpg"
	thumbURL="thumbs/DSC07097.jpg"
	linkURL="images/DSC07097.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07097.jpg">
    <title><![CDATA[DSC07097]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07098.jpg"
	thumbURL="thumbs/DSC07098.jpg"
	linkURL="images/DSC07098.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07098.jpg">
    <title><![CDATA[DSC07098]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07099.jpg"
	thumbURL="thumbs/DSC07099.jpg"
	linkURL="images/DSC07099.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07099.jpg">
    <title><![CDATA[DSC07099]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07100.jpg"
	thumbURL="thumbs/DSC07100.jpg"
	linkURL="images/DSC07100.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07100.jpg">
    <title><![CDATA[DSC07100]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07101.jpg"
	thumbURL="thumbs/DSC07101.jpg"
	linkURL="images/DSC07101.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07101.jpg">
    <title><![CDATA[DSC07101]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07102.jpg"
	thumbURL="thumbs/DSC07102.jpg"
	linkURL="images/DSC07102.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07102.jpg">
    <title><![CDATA[DSC07102]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07103.jpg"
	thumbURL="thumbs/DSC07103.jpg"
	linkURL="images/DSC07103.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07103.jpg">
    <title><![CDATA[DSC07103]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07104.jpg"
	thumbURL="thumbs/DSC07104.jpg"
	linkURL="images/DSC07104.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07104.jpg">
    <title><![CDATA[DSC07104]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07105.jpg"
	thumbURL="thumbs/DSC07105.jpg"
	linkURL="images/DSC07105.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07105.jpg">
    <title><![CDATA[DSC07105]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07106.jpg"
	thumbURL="thumbs/DSC07106.jpg"
	linkURL="images/DSC07106.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07106.jpg">
    <title><![CDATA[DSC07106]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07107.jpg"
	thumbURL="thumbs/DSC07107.jpg"
	linkURL="images/DSC07107.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07107.jpg">
    <title><![CDATA[DSC07107]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07108.jpg"
	thumbURL="thumbs/DSC07108.jpg"
	linkURL="images/DSC07108.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07108.jpg">
    <title><![CDATA[DSC07108]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07109.jpg"
	thumbURL="thumbs/DSC07109.jpg"
	linkURL="images/DSC07109.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07109.jpg">
    <title><![CDATA[DSC07109]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07110.jpg"
	thumbURL="thumbs/DSC07110.jpg"
	linkURL="images/DSC07110.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07110.jpg">
    <title><![CDATA[DSC07110]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07111.jpg"
	thumbURL="thumbs/DSC07111.jpg"
	linkURL="images/DSC07111.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07111.jpg">
    <title><![CDATA[DSC07111]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07112.jpg"
	thumbURL="thumbs/DSC07112.jpg"
	linkURL="images/DSC07112.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07112.jpg">
    <title><![CDATA[DSC07112]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07113.jpg"
	thumbURL="thumbs/DSC07113.jpg"
	linkURL="images/DSC07113.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07113.jpg">
    <title><![CDATA[DSC07113]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07114.jpg"
	thumbURL="thumbs/DSC07114.jpg"
	linkURL="images/DSC07114.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07114.jpg">
    <title><![CDATA[DSC07114]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07115.jpg"
	thumbURL="thumbs/DSC07115.jpg"
	linkURL="images/DSC07115.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07115.jpg">
    <title><![CDATA[DSC07115]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07116.jpg"
	thumbURL="thumbs/DSC07116.jpg"
	linkURL="images/DSC07116.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07116.jpg">
    <title><![CDATA[DSC07116]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07117.jpg"
	thumbURL="thumbs/DSC07117.jpg"
	linkURL="images/DSC07117.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07117.jpg">
    <title><![CDATA[DSC07117]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07118.jpg"
	thumbURL="thumbs/DSC07118.jpg"
	linkURL="images/DSC07118.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07118.jpg">
    <title><![CDATA[DSC07118]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07119.jpg"
	thumbURL="thumbs/DSC07119.jpg"
	linkURL="images/DSC07119.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07119.jpg">
    <title><![CDATA[DSC07119]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07120.jpg"
	thumbURL="thumbs/DSC07120.jpg"
	linkURL="images/DSC07120.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07120.jpg">
    <title><![CDATA[DSC07120]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07121.jpg"
	thumbURL="thumbs/DSC07121.jpg"
	linkURL="images/DSC07121.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07121.jpg">
    <title><![CDATA[DSC07121]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07122.jpg"
	thumbURL="thumbs/DSC07122.jpg"
	linkURL="images/DSC07122.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07122.jpg">
    <title><![CDATA[DSC07122]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07123.jpg"
	thumbURL="thumbs/DSC07123.jpg"
	linkURL="images/DSC07123.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07123.jpg">
    <title><![CDATA[DSC07123]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07124.jpg"
	thumbURL="thumbs/DSC07124.jpg"
	linkURL="images/DSC07124.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07124.jpg">
    <title><![CDATA[DSC07124]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07126.jpg"
	thumbURL="thumbs/DSC07126.jpg"
	linkURL="images/DSC07126.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07126.jpg">
    <title><![CDATA[DSC07126]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07127.jpg"
	thumbURL="thumbs/DSC07127.jpg"
	linkURL="images/DSC07127.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07127.jpg">
    <title><![CDATA[DSC07127]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07128.jpg"
	thumbURL="thumbs/DSC07128.jpg"
	linkURL="images/DSC07128.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07128.jpg">
    <title><![CDATA[DSC07128]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07129.jpg"
	thumbURL="thumbs/DSC07129.jpg"
	linkURL="images/DSC07129.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07129.jpg">
    <title><![CDATA[DSC07129]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07130.jpg"
	thumbURL="thumbs/DSC07130.jpg"
	linkURL="images/DSC07130.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07130.jpg">
    <title><![CDATA[DSC07130]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07131.jpg"
	thumbURL="thumbs/DSC07131.jpg"
	linkURL="images/DSC07131.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07131.jpg">
    <title><![CDATA[DSC07131]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07132.jpg"
	thumbURL="thumbs/DSC07132.jpg"
	linkURL="images/DSC07132.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07132.jpg">
    <title><![CDATA[DSC07132]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07133.jpg"
	thumbURL="thumbs/DSC07133.jpg"
	linkURL="images/DSC07133.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Sid's farewell party/DSC07133.jpg">
    <title><![CDATA[DSC07133]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>