<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/DSC02403.jpg"
	thumbURL="thumbs/DSC02403.jpg"
	linkURL="images/DSC02403.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02403.jpg"

>
    <title><![CDATA[DSC02403]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02405.jpg"
	thumbURL="thumbs/DSC02405.jpg"
	linkURL="images/DSC02405.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02405.jpg">
    <title><![CDATA[DSC02405]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02406.jpg"
	thumbURL="thumbs/DSC02406.jpg"
	linkURL="images/DSC02406.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02406.jpg">
    <title><![CDATA[DSC02406]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02407.jpg"
	thumbURL="thumbs/DSC02407.jpg"
	linkURL="images/DSC02407.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02407.jpg">
    <title><![CDATA[DSC02407]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02409.jpg"
	thumbURL="thumbs/DSC02409.jpg"
	linkURL="images/DSC02409.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02409.jpg">
    <title><![CDATA[DSC02409]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02411.jpg"
	thumbURL="thumbs/DSC02411.jpg"
	linkURL="images/DSC02411.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02411.jpg">
    <title><![CDATA[DSC02411]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02414.jpg"
	thumbURL="thumbs/DSC02414.jpg"
	linkURL="images/DSC02414.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02414.jpg">
    <title><![CDATA[DSC02414]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02415.jpg"
	thumbURL="thumbs/DSC02415.jpg"
	linkURL="images/DSC02415.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02415.jpg">
    <title><![CDATA[DSC02415]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02417.jpg"
	thumbURL="thumbs/DSC02417.jpg"
	linkURL="images/DSC02417.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02417.jpg">
    <title><![CDATA[DSC02417]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02419.jpg"
	thumbURL="thumbs/DSC02419.jpg"
	linkURL="images/DSC02419.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02419.jpg">
    <title><![CDATA[DSC02419]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02421.jpg"
	thumbURL="thumbs/DSC02421.jpg"
	linkURL="images/DSC02421.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02421.jpg">
    <title><![CDATA[DSC02421]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02425.jpg"
	thumbURL="thumbs/DSC02425.jpg"
	linkURL="images/DSC02425.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02425.jpg">
    <title><![CDATA[DSC02425]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02429.jpg"
	thumbURL="thumbs/DSC02429.jpg"
	linkURL="images/DSC02429.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02429.jpg">
    <title><![CDATA[DSC02429]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02434.jpg"
	thumbURL="thumbs/DSC02434.jpg"
	linkURL="images/DSC02434.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02434.jpg">
    <title><![CDATA[DSC02434]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02436.jpg"
	thumbURL="thumbs/DSC02436.jpg"
	linkURL="images/DSC02436.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02436.jpg">
    <title><![CDATA[DSC02436]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02437.jpg"
	thumbURL="thumbs/DSC02437.jpg"
	linkURL="images/DSC02437.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02437.jpg">
    <title><![CDATA[DSC02437]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02440.jpg"
	thumbURL="thumbs/DSC02440.jpg"
	linkURL="images/DSC02440.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02440.jpg">
    <title><![CDATA[DSC02440]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02442.jpg"
	thumbURL="thumbs/DSC02442.jpg"
	linkURL="images/DSC02442.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02442.jpg">
    <title><![CDATA[DSC02442]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02445.jpg"
	thumbURL="thumbs/DSC02445.jpg"
	linkURL="images/DSC02445.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02445.jpg">
    <title><![CDATA[DSC02445]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02448.jpg"
	thumbURL="thumbs/DSC02448.jpg"
	linkURL="images/DSC02448.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02448.jpg">
    <title><![CDATA[DSC02448]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02450.jpg"
	thumbURL="thumbs/DSC02450.jpg"
	linkURL="images/DSC02450.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02450.jpg">
    <title><![CDATA[DSC02450]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02452.jpg"
	thumbURL="thumbs/DSC02452.jpg"
	linkURL="images/DSC02452.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02452.jpg">
    <title><![CDATA[DSC02452]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02454.jpg"
	thumbURL="thumbs/DSC02454.jpg"
	linkURL="images/DSC02454.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02454.jpg">
    <title><![CDATA[DSC02454]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02455.jpg"
	thumbURL="thumbs/DSC02455.jpg"
	linkURL="images/DSC02455.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02455.jpg">
    <title><![CDATA[DSC02455]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02456.jpg"
	thumbURL="thumbs/DSC02456.jpg"
	linkURL="images/DSC02456.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02456.jpg">
    <title><![CDATA[DSC02456]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02458.jpg"
	thumbURL="thumbs/DSC02458.jpg"
	linkURL="images/DSC02458.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02458.jpg">
    <title><![CDATA[DSC02458]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02462.jpg"
	thumbURL="thumbs/DSC02462.jpg"
	linkURL="images/DSC02462.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02462.jpg">
    <title><![CDATA[DSC02462]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02465.jpg"
	thumbURL="thumbs/DSC02465.jpg"
	linkURL="images/DSC02465.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02465.jpg">
    <title><![CDATA[DSC02465]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02468.jpg"
	thumbURL="thumbs/DSC02468.jpg"
	linkURL="images/DSC02468.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02468.jpg">
    <title><![CDATA[DSC02468]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02476.jpg"
	thumbURL="thumbs/DSC02476.jpg"
	linkURL="images/DSC02476.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02476.jpg">
    <title><![CDATA[DSC02476]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02480.jpg"
	thumbURL="thumbs/DSC02480.jpg"
	linkURL="images/DSC02480.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02480.jpg">
    <title><![CDATA[DSC02480]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02483.jpg"
	thumbURL="thumbs/DSC02483.jpg"
	linkURL="images/DSC02483.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02483.jpg">
    <title><![CDATA[DSC02483]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC02484.jpg"
	thumbURL="thumbs/DSC02484.jpg"
	linkURL="images/DSC02484.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Noem's 10th Anniversary/DSC02484.jpg">
    <title><![CDATA[DSC02484]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>