<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="2015 - Tahoe Retreat #1"

>
  <image imageURL="images/2015-02-27 17.51.46.jpg"
	thumbURL="thumbs/2015-02-27 17.51.46.jpg"
	linkURL="images/2015-02-27 17.51.46.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-27 17.51.46.jpg">
    <title><![CDATA[2015-02-27 17.51.46]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-02-27 17.52.04.jpg"
	thumbURL="thumbs/2015-02-27 17.52.04.jpg"
	linkURL="images/2015-02-27 17.52.04.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-27 17.52.04.jpg">
    <title><![CDATA[2015-02-27 17.52.04]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-02-27 17.52.26.jpg"
	thumbURL="thumbs/2015-02-27 17.52.26.jpg"
	linkURL="images/2015-02-27 17.52.26.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-27 17.52.26.jpg">
    <title><![CDATA[2015-02-27 17.52.26]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-02-27 18.00.37.jpg"
	thumbURL="thumbs/2015-02-27 18.00.37.jpg"
	linkURL="images/2015-02-27 18.00.37.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-27 18.00.37.jpg">
    <title><![CDATA[2015-02-27 18.00.37]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-02-27 18.01.12.jpg"
	thumbURL="thumbs/2015-02-27 18.01.12.jpg"
	linkURL="images/2015-02-27 18.01.12.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-27 18.01.12.jpg">
    <title><![CDATA[2015-02-27 18.01.12]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-02-27 18.01.56.jpg"
	thumbURL="thumbs/2015-02-27 18.01.56.jpg"
	linkURL="images/2015-02-27 18.01.56.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-27 18.01.56.jpg">
    <title><![CDATA[2015-02-27 18.01.56]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-02-27 18.19.14.jpg"
	thumbURL="thumbs/2015-02-27 18.19.14.jpg"
	linkURL="images/2015-02-27 18.19.14.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-27 18.19.14.jpg">
    <title><![CDATA[2015-02-27 18.19.14]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-02-27 18.27.49.jpg"
	thumbURL="thumbs/2015-02-27 18.27.49.jpg"
	linkURL="images/2015-02-27 18.27.49.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-27 18.27.49.jpg">
    <title><![CDATA[2015-02-27 18.27.49]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-02-27 18.28.31.jpg"
	thumbURL="thumbs/2015-02-27 18.28.31.jpg"
	linkURL="images/2015-02-27 18.28.31.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-27 18.28.31.jpg">
    <title><![CDATA[2015-02-27 18.28.31]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-02-27 18.38.47.jpg"
	thumbURL="thumbs/2015-02-27 18.38.47.jpg"
	linkURL="images/2015-02-27 18.38.47.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-27 18.38.47.jpg">
    <title><![CDATA[2015-02-27 18.38.47]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-02-27 18.39.07.jpg"
	thumbURL="thumbs/2015-02-27 18.39.07.jpg"
	linkURL="images/2015-02-27 18.39.07.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-27 18.39.07.jpg">
    <title><![CDATA[2015-02-27 18.39.07]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-02-27 18.39.13.jpg"
	thumbURL="thumbs/2015-02-27 18.39.13.jpg"
	linkURL="images/2015-02-27 18.39.13.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-27 18.39.13.jpg">
    <title><![CDATA[2015-02-27 18.39.13]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-02-27 18.39.21.jpg"
	thumbURL="thumbs/2015-02-27 18.39.21.jpg"
	linkURL="images/2015-02-27 18.39.21.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-27 18.39.21.jpg">
    <title><![CDATA[2015-02-27 18.39.21]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-02-27 18.39.39.jpg"
	thumbURL="thumbs/2015-02-27 18.39.39.jpg"
	linkURL="images/2015-02-27 18.39.39.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-27 18.39.39.jpg">
    <title><![CDATA[2015-02-27 18.39.39]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-02-27 18.55.28.jpg"
	thumbURL="thumbs/2015-02-27 18.55.28.jpg"
	linkURL="images/2015-02-27 18.55.28.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-27 18.55.28.jpg">
    <title><![CDATA[2015-02-27 18.55.28]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-02-27 18.55.47.jpg"
	thumbURL="thumbs/2015-02-27 18.55.47.jpg"
	linkURL="images/2015-02-27 18.55.47.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-27 18.55.47.jpg">
    <title><![CDATA[2015-02-27 18.55.47]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-02-27 18.56.00.jpg"
	thumbURL="thumbs/2015-02-27 18.56.00.jpg"
	linkURL="images/2015-02-27 18.56.00.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-27 18.56.00.jpg">
    <title><![CDATA[2015-02-27 18.56.00]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-02-27 21.22.21.jpg"
	thumbURL="thumbs/2015-02-27 21.22.21.jpg"
	linkURL="images/2015-02-27 21.22.21.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-27 21.22.21.jpg">
    <title><![CDATA[2015-02-27 21.22.21]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-02-27 21.32.38.jpg"
	thumbURL="thumbs/2015-02-27 21.32.38.jpg"
	linkURL="images/2015-02-27 21.32.38.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-27 21.32.38.jpg">
    <title><![CDATA[2015-02-27 21.32.38]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-02-27 21.32.55.jpg"
	thumbURL="thumbs/2015-02-27 21.32.55.jpg"
	linkURL="images/2015-02-27 21.32.55.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-27 21.32.55.jpg">
    <title><![CDATA[2015-02-27 21.32.55]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-02-27 21.38.02.jpg"
	thumbURL="thumbs/2015-02-27 21.38.02.jpg"
	linkURL="images/2015-02-27 21.38.02.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-27 21.38.02.jpg">
    <title><![CDATA[2015-02-27 21.38.02]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-02-27 21.38.34.jpg"
	thumbURL="thumbs/2015-02-27 21.38.34.jpg"
	linkURL="images/2015-02-27 21.38.34.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-27 21.38.34.jpg">
    <title><![CDATA[2015-02-27 21.38.34]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-02-27 21.38.47.jpg"
	thumbURL="thumbs/2015-02-27 21.38.47.jpg"
	linkURL="images/2015-02-27 21.38.47.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-27 21.38.47.jpg">
    <title><![CDATA[2015-02-27 21.38.47]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-02-27 21.39.15.jpg"
	thumbURL="thumbs/2015-02-27 21.39.15.jpg"
	linkURL="images/2015-02-27 21.39.15.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-27 21.39.15.jpg">
    <title><![CDATA[2015-02-27 21.39.15]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-02-27 21.39.23.jpg"
	thumbURL="thumbs/2015-02-27 21.39.23.jpg"
	linkURL="images/2015-02-27 21.39.23.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-27 21.39.23.jpg">
    <title><![CDATA[2015-02-27 21.39.23]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-02-27 21.39.49.jpg"
	thumbURL="thumbs/2015-02-27 21.39.49.jpg"
	linkURL="images/2015-02-27 21.39.49.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-27 21.39.49.jpg">
    <title><![CDATA[2015-02-27 21.39.49]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-02-27 21.47.58.jpg"
	thumbURL="thumbs/2015-02-27 21.47.58.jpg"
	linkURL="images/2015-02-27 21.47.58.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-27 21.47.58.jpg">
    <title><![CDATA[2015-02-27 21.47.58]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2015-02-28 08.58.41.jpg"
	thumbURL="thumbs/2015-02-28 08.58.41.jpg"
	linkURL="images/2015-02-28 08.58.41.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/2015-02-28 08.58.41.jpg">
    <title><![CDATA[2015-02-28 08.58.41]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1295.jpg"
	thumbURL="thumbs/IMG_1295.jpg"
	linkURL="images/IMG_1295.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1295.jpg">
    <title><![CDATA[IMG_1295]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1296.jpg"
	thumbURL="thumbs/IMG_1296.jpg"
	linkURL="images/IMG_1296.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1296.jpg">
    <title><![CDATA[IMG_1296]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1297.jpg"
	thumbURL="thumbs/IMG_1297.jpg"
	linkURL="images/IMG_1297.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1297.jpg">
    <title><![CDATA[IMG_1297]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1298.jpg"
	thumbURL="thumbs/IMG_1298.jpg"
	linkURL="images/IMG_1298.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1298.jpg">
    <title><![CDATA[IMG_1298]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1299.jpg"
	thumbURL="thumbs/IMG_1299.jpg"
	linkURL="images/IMG_1299.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1299.jpg">
    <title><![CDATA[IMG_1299]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1300.jpg"
	thumbURL="thumbs/IMG_1300.jpg"
	linkURL="images/IMG_1300.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1300.jpg">
    <title><![CDATA[IMG_1300]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1301.jpg"
	thumbURL="thumbs/IMG_1301.jpg"
	linkURL="images/IMG_1301.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1301.jpg">
    <title><![CDATA[IMG_1301]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1302.jpg"
	thumbURL="thumbs/IMG_1302.jpg"
	linkURL="images/IMG_1302.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1302.jpg">
    <title><![CDATA[IMG_1302]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1303.jpg"
	thumbURL="thumbs/IMG_1303.jpg"
	linkURL="images/IMG_1303.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1303.jpg">
    <title><![CDATA[IMG_1303]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1304.jpg"
	thumbURL="thumbs/IMG_1304.jpg"
	linkURL="images/IMG_1304.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1304.jpg">
    <title><![CDATA[IMG_1304]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1305.jpg"
	thumbURL="thumbs/IMG_1305.jpg"
	linkURL="images/IMG_1305.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1305.jpg">
    <title><![CDATA[IMG_1305]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1306.jpg"
	thumbURL="thumbs/IMG_1306.jpg"
	linkURL="images/IMG_1306.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1306.jpg">
    <title><![CDATA[IMG_1306]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1307.jpg"
	thumbURL="thumbs/IMG_1307.jpg"
	linkURL="images/IMG_1307.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1307.jpg">
    <title><![CDATA[IMG_1307]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1308.jpg"
	thumbURL="thumbs/IMG_1308.jpg"
	linkURL="images/IMG_1308.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1308.jpg">
    <title><![CDATA[IMG_1308]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1309.jpg"
	thumbURL="thumbs/IMG_1309.jpg"
	linkURL="images/IMG_1309.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1309.jpg">
    <title><![CDATA[IMG_1309]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1310.jpg"
	thumbURL="thumbs/IMG_1310.jpg"
	linkURL="images/IMG_1310.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1310.jpg">
    <title><![CDATA[IMG_1310]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1311.jpg"
	thumbURL="thumbs/IMG_1311.jpg"
	linkURL="images/IMG_1311.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1311.jpg">
    <title><![CDATA[IMG_1311]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1312.jpg"
	thumbURL="thumbs/IMG_1312.jpg"
	linkURL="images/IMG_1312.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1312.jpg">
    <title><![CDATA[IMG_1312]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1313.jpg"
	thumbURL="thumbs/IMG_1313.jpg"
	linkURL="images/IMG_1313.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1313.jpg">
    <title><![CDATA[IMG_1313]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1314.jpg"
	thumbURL="thumbs/IMG_1314.jpg"
	linkURL="images/IMG_1314.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1314.jpg">
    <title><![CDATA[IMG_1314]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1315.jpg"
	thumbURL="thumbs/IMG_1315.jpg"
	linkURL="images/IMG_1315.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1315.jpg">
    <title><![CDATA[IMG_1315]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1316.jpg"
	thumbURL="thumbs/IMG_1316.jpg"
	linkURL="images/IMG_1316.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1316.jpg">
    <title><![CDATA[IMG_1316]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>