<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="2015 - Tahoe Retreat #3"

>
  <image imageURL="images/IMG_1373.jpg"
	thumbURL="thumbs/IMG_1373.jpg"
	linkURL="images/IMG_1373.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1373.jpg">
    <title><![CDATA[IMG_1373]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1374.jpg"
	thumbURL="thumbs/IMG_1374.jpg"
	linkURL="images/IMG_1374.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1374.jpg">
    <title><![CDATA[IMG_1374]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1375.jpg"
	thumbURL="thumbs/IMG_1375.jpg"
	linkURL="images/IMG_1375.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1375.jpg">
    <title><![CDATA[IMG_1375]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1376.jpg"
	thumbURL="thumbs/IMG_1376.jpg"
	linkURL="images/IMG_1376.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1376.jpg">
    <title><![CDATA[IMG_1376]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1377.jpg"
	thumbURL="thumbs/IMG_1377.jpg"
	linkURL="images/IMG_1377.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1377.jpg">
    <title><![CDATA[IMG_1377]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1378.jpg"
	thumbURL="thumbs/IMG_1378.jpg"
	linkURL="images/IMG_1378.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1378.jpg">
    <title><![CDATA[IMG_1378]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1379.jpg"
	thumbURL="thumbs/IMG_1379.jpg"
	linkURL="images/IMG_1379.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1379.jpg">
    <title><![CDATA[IMG_1379]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1380.jpg"
	thumbURL="thumbs/IMG_1380.jpg"
	linkURL="images/IMG_1380.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1380.jpg">
    <title><![CDATA[IMG_1380]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1381.jpg"
	thumbURL="thumbs/IMG_1381.jpg"
	linkURL="images/IMG_1381.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1381.jpg">
    <title><![CDATA[IMG_1381]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1382.jpg"
	thumbURL="thumbs/IMG_1382.jpg"
	linkURL="images/IMG_1382.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1382.jpg">
    <title><![CDATA[IMG_1382]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1383.jpg"
	thumbURL="thumbs/IMG_1383.jpg"
	linkURL="images/IMG_1383.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1383.jpg">
    <title><![CDATA[IMG_1383]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1384.jpg"
	thumbURL="thumbs/IMG_1384.jpg"
	linkURL="images/IMG_1384.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1384.jpg">
    <title><![CDATA[IMG_1384]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1385.jpg"
	thumbURL="thumbs/IMG_1385.jpg"
	linkURL="images/IMG_1385.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1385.jpg">
    <title><![CDATA[IMG_1385]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1386.jpg"
	thumbURL="thumbs/IMG_1386.jpg"
	linkURL="images/IMG_1386.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1386.jpg">
    <title><![CDATA[IMG_1386]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2266.jpg"
	thumbURL="thumbs/IMG_2266.jpg"
	linkURL="images/IMG_2266.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_2266.jpg">
    <title><![CDATA[IMG_2266]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2267.jpg"
	thumbURL="thumbs/IMG_2267.jpg"
	linkURL="images/IMG_2267.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_2267.jpg">
    <title><![CDATA[IMG_2267]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2281.jpg"
	thumbURL="thumbs/IMG_2281.jpg"
	linkURL="images/IMG_2281.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_2281.jpg">
    <title><![CDATA[IMG_2281]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2282.jpg"
	thumbURL="thumbs/IMG_2282.jpg"
	linkURL="images/IMG_2282.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_2282.jpg">
    <title><![CDATA[IMG_2282]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2283.jpg"
	thumbURL="thumbs/IMG_2283.jpg"
	linkURL="images/IMG_2283.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_2283.jpg">
    <title><![CDATA[IMG_2283]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2284.jpg"
	thumbURL="thumbs/IMG_2284.jpg"
	linkURL="images/IMG_2284.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_2284.jpg">
    <title><![CDATA[IMG_2284]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2285.jpg"
	thumbURL="thumbs/IMG_2285.jpg"
	linkURL="images/IMG_2285.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_2285.jpg">
    <title><![CDATA[IMG_2285]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2286.jpg"
	thumbURL="thumbs/IMG_2286.jpg"
	linkURL="images/IMG_2286.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_2286.jpg">
    <title><![CDATA[IMG_2286]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2287.jpg"
	thumbURL="thumbs/IMG_2287.jpg"
	linkURL="images/IMG_2287.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_2287.jpg">
    <title><![CDATA[IMG_2287]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2288.jpg"
	thumbURL="thumbs/IMG_2288.jpg"
	linkURL="images/IMG_2288.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_2288.jpg">
    <title><![CDATA[IMG_2288]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2289.jpg"
	thumbURL="thumbs/IMG_2289.jpg"
	linkURL="images/IMG_2289.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_2289.jpg">
    <title><![CDATA[IMG_2289]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2290.jpg"
	thumbURL="thumbs/IMG_2290.jpg"
	linkURL="images/IMG_2290.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_2290.jpg">
    <title><![CDATA[IMG_2290]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2291.jpg"
	thumbURL="thumbs/IMG_2291.jpg"
	linkURL="images/IMG_2291.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_2291.jpg">
    <title><![CDATA[IMG_2291]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2292.jpg"
	thumbURL="thumbs/IMG_2292.jpg"
	linkURL="images/IMG_2292.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_2292.jpg">
    <title><![CDATA[IMG_2292]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2293.jpg"
	thumbURL="thumbs/IMG_2293.jpg"
	linkURL="images/IMG_2293.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_2293.jpg">
    <title><![CDATA[IMG_2293]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2294.jpg"
	thumbURL="thumbs/IMG_2294.jpg"
	linkURL="images/IMG_2294.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_2294.jpg">
    <title><![CDATA[IMG_2294]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2298.jpg"
	thumbURL="thumbs/IMG_2298.jpg"
	linkURL="images/IMG_2298.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_2298.jpg">
    <title><![CDATA[IMG_2298]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2299.jpg"
	thumbURL="thumbs/IMG_2299.jpg"
	linkURL="images/IMG_2299.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_2299.jpg">
    <title><![CDATA[IMG_2299]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2300.jpg"
	thumbURL="thumbs/IMG_2300.jpg"
	linkURL="images/IMG_2300.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_2300.jpg">
    <title><![CDATA[IMG_2300]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3435.jpg"
	thumbURL="thumbs/IMG_3435.jpg"
	linkURL="images/IMG_3435.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_3435.jpg">
    <title><![CDATA[IMG_3435]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3436.jpg"
	thumbURL="thumbs/IMG_3436.jpg"
	linkURL="images/IMG_3436.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_3436.jpg">
    <title><![CDATA[IMG_3436]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4037.jpg"
	thumbURL="thumbs/IMG_4037.jpg"
	linkURL="images/IMG_4037.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_4037.jpg">
    <title><![CDATA[IMG_4037]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4038.jpg"
	thumbURL="thumbs/IMG_4038.jpg"
	linkURL="images/IMG_4038.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_4038.jpg">
    <title><![CDATA[IMG_4038]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4042.jpg"
	thumbURL="thumbs/IMG_4042.jpg"
	linkURL="images/IMG_4042.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_4042.jpg">
    <title><![CDATA[IMG_4042]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4043.jpg"
	thumbURL="thumbs/IMG_4043.jpg"
	linkURL="images/IMG_4043.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_4043.jpg">
    <title><![CDATA[IMG_4043]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4048.jpg"
	thumbURL="thumbs/IMG_4048.jpg"
	linkURL="images/IMG_4048.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_4048.jpg">
    <title><![CDATA[IMG_4048]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4051.jpg"
	thumbURL="thumbs/IMG_4051.jpg"
	linkURL="images/IMG_4051.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_4051.jpg">
    <title><![CDATA[IMG_4051]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4052.jpg"
	thumbURL="thumbs/IMG_4052.jpg"
	linkURL="images/IMG_4052.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_4052.jpg">
    <title><![CDATA[IMG_4052]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4053.jpg"
	thumbURL="thumbs/IMG_4053.jpg"
	linkURL="images/IMG_4053.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_4053.jpg">
    <title><![CDATA[IMG_4053]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4054.jpg"
	thumbURL="thumbs/IMG_4054.jpg"
	linkURL="images/IMG_4054.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_4054.jpg">
    <title><![CDATA[IMG_4054]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4056.jpg"
	thumbURL="thumbs/IMG_4056.jpg"
	linkURL="images/IMG_4056.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_4056.jpg">
    <title><![CDATA[IMG_4056]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4057.jpg"
	thumbURL="thumbs/IMG_4057.jpg"
	linkURL="images/IMG_4057.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_4057.jpg">
    <title><![CDATA[IMG_4057]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4058.jpg"
	thumbURL="thumbs/IMG_4058.jpg"
	linkURL="images/IMG_4058.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_4058.jpg">
    <title><![CDATA[IMG_4058]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4059.jpg"
	thumbURL="thumbs/IMG_4059.jpg"
	linkURL="images/IMG_4059.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_4059.jpg">
    <title><![CDATA[IMG_4059]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4060.jpg"
	thumbURL="thumbs/IMG_4060.jpg"
	linkURL="images/IMG_4060.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_4060.jpg">
    <title><![CDATA[IMG_4060]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4061.jpg"
	thumbURL="thumbs/IMG_4061.jpg"
	linkURL="images/IMG_4061.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_4061.jpg">
    <title><![CDATA[IMG_4061]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>