<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="2016 - Holiday Party "

>
  <image imageURL="images/_DSC8106.jpg"
	thumbURL="thumbs/_DSC8106.jpg"
	linkURL="images/_DSC8106.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Holiday Party/_DSC8106.jpg">
    <title><![CDATA[_DSC8106]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_DSC8109.jpg"
	thumbURL="thumbs/_DSC8109.jpg"
	linkURL="images/_DSC8109.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Holiday Party/_DSC8109.jpg">
    <title><![CDATA[_DSC8109]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_DSC8118.jpg"
	thumbURL="thumbs/_DSC8118.jpg"
	linkURL="images/_DSC8118.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Holiday Party/_DSC8118.jpg">
    <title><![CDATA[_DSC8118]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_DSC8125.jpg"
	thumbURL="thumbs/_DSC8125.jpg"
	linkURL="images/_DSC8125.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Holiday Party/_DSC8125.jpg">
    <title><![CDATA[_DSC8125]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_DSC8128.jpg"
	thumbURL="thumbs/_DSC8128.jpg"
	linkURL="images/_DSC8128.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Holiday Party/_DSC8128.jpg">
    <title><![CDATA[_DSC8128]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_DSC8129.jpg"
	thumbURL="thumbs/_DSC8129.jpg"
	linkURL="images/_DSC8129.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Holiday Party/_DSC8129.jpg">
    <title><![CDATA[_DSC8129]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_DSC8147.jpg"
	thumbURL="thumbs/_DSC8147.jpg"
	linkURL="images/_DSC8147.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Holiday Party/_DSC8147.jpg">
    <title><![CDATA[_DSC8147]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4882.jpg"
	thumbURL="thumbs/IMG_4882.jpg"
	linkURL="images/IMG_4882.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Holiday Party/IMG_4882.jpg">
    <title><![CDATA[IMG_4882]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4883.jpg"
	thumbURL="thumbs/IMG_4883.jpg"
	linkURL="images/IMG_4883.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Holiday Party/IMG_4883.jpg">
    <title><![CDATA[IMG_4883]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4884.jpg"
	thumbURL="thumbs/IMG_4884.jpg"
	linkURL="images/IMG_4884.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Holiday Party/IMG_4884.jpg">
    <title><![CDATA[IMG_4884]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4885.jpg"
	thumbURL="thumbs/IMG_4885.jpg"
	linkURL="images/IMG_4885.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Holiday Party/IMG_4885.jpg">
    <title><![CDATA[IMG_4885]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4890.jpg"
	thumbURL="thumbs/IMG_4890.jpg"
	linkURL="images/IMG_4890.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Holiday Party/IMG_4890.jpg">
    <title><![CDATA[IMG_4890]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4891.jpg"
	thumbURL="thumbs/IMG_4891.jpg"
	linkURL="images/IMG_4891.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Holiday Party/IMG_4891.jpg">
    <title><![CDATA[IMG_4891]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4892.jpg"
	thumbURL="thumbs/IMG_4892.jpg"
	linkURL="images/IMG_4892.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Holiday Party/IMG_4892.jpg">
    <title><![CDATA[IMG_4892]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4893.jpg"
	thumbURL="thumbs/IMG_4893.jpg"
	linkURL="images/IMG_4893.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Holiday Party/IMG_4893.jpg">
    <title><![CDATA[IMG_4893]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4897.jpg"
	thumbURL="thumbs/IMG_4897.jpg"
	linkURL="images/IMG_4897.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Holiday Party/IMG_4897.jpg">
    <title><![CDATA[IMG_4897]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4899.jpg"
	thumbURL="thumbs/IMG_4899.jpg"
	linkURL="images/IMG_4899.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Holiday Party/IMG_4899.jpg">
    <title><![CDATA[IMG_4899]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4901.jpg"
	thumbURL="thumbs/IMG_4901.jpg"
	linkURL="images/IMG_4901.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Holiday Party/IMG_4901.jpg">
    <title><![CDATA[IMG_4901]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4904.jpg"
	thumbURL="thumbs/IMG_4904.jpg"
	linkURL="images/IMG_4904.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Holiday Party/IMG_4904.jpg">
    <title><![CDATA[IMG_4904]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4907.jpg"
	thumbURL="thumbs/IMG_4907.jpg"
	linkURL="images/IMG_4907.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Holiday Party/IMG_4907.jpg">
    <title><![CDATA[IMG_4907]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4914.jpg"
	thumbURL="thumbs/IMG_4914.jpg"
	linkURL="images/IMG_4914.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Holiday Party/IMG_4914.jpg">
    <title><![CDATA[IMG_4914]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4917.jpg"
	thumbURL="thumbs/IMG_4917.jpg"
	linkURL="images/IMG_4917.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Holiday Party/IMG_4917.jpg">
    <title><![CDATA[IMG_4917]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4918.jpg"
	thumbURL="thumbs/IMG_4918.jpg"
	linkURL="images/IMG_4918.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Holiday Party/IMG_4918.jpg">
    <title><![CDATA[IMG_4918]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4921.jpg"
	thumbURL="thumbs/IMG_4921.jpg"
	linkURL="images/IMG_4921.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Holiday Party/IMG_4921.jpg">
    <title><![CDATA[IMG_4921]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4924.jpg"
	thumbURL="thumbs/IMG_4924.jpg"
	linkURL="images/IMG_4924.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Holiday Party/IMG_4924.jpg">
    <title><![CDATA[IMG_4924]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4925.jpg"
	thumbURL="thumbs/IMG_4925.jpg"
	linkURL="images/IMG_4925.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Holiday Party/IMG_4925.jpg">
    <title><![CDATA[IMG_4925]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4932.jpg"
	thumbURL="thumbs/IMG_4932.jpg"
	linkURL="images/IMG_4932.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Holiday Party/IMG_4932.jpg">
    <title><![CDATA[IMG_4932]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>