<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="2012 - Tubing Trip, American River"

>
  <image imageURL="images/Summer 2012 014.jpg"
	thumbURL="thumbs/Summer 2012 014.jpg"
	linkURL="images/Summer 2012 014.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Tubing trip, American river/Summer 2012 014.jpg">
    <title><![CDATA[Summer 2012 014]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Summer 2012 016.jpg"
	thumbURL="thumbs/Summer 2012 016.jpg"
	linkURL="images/Summer 2012 016.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Tubing trip, American river/Summer 2012 016.jpg">
    <title><![CDATA[Summer 2012 016]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Summer 2012 017.jpg"
	thumbURL="thumbs/Summer 2012 017.jpg"
	linkURL="images/Summer 2012 017.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Tubing trip, American river/Summer 2012 017.jpg">
    <title><![CDATA[Summer 2012 017]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Summer 2012 020.jpg"
	thumbURL="thumbs/Summer 2012 020.jpg"
	linkURL="images/Summer 2012 020.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Tubing trip, American river/Summer 2012 020.jpg">
    <title><![CDATA[Summer 2012 020]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Summer 2012 022.jpg"
	thumbURL="thumbs/Summer 2012 022.jpg"
	linkURL="images/Summer 2012 022.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Tubing trip, American river/Summer 2012 022.jpg">
    <title><![CDATA[Summer 2012 022]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Summer 2012 024.jpg"
	thumbURL="thumbs/Summer 2012 024.jpg"
	linkURL="images/Summer 2012 024.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Tubing trip, American river/Summer 2012 024.jpg">
    <title><![CDATA[Summer 2012 024]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Summer 2012 026.jpg"
	thumbURL="thumbs/Summer 2012 026.jpg"
	linkURL="images/Summer 2012 026.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Tubing trip, American river/Summer 2012 026.jpg">
    <title><![CDATA[Summer 2012 026]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Summer 2012 027.jpg"
	thumbURL="thumbs/Summer 2012 027.jpg"
	linkURL="images/Summer 2012 027.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Tubing trip, American river/Summer 2012 027.jpg">
    <title><![CDATA[Summer 2012 027]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Summer 2012 030.jpg"
	thumbURL="thumbs/Summer 2012 030.jpg"
	linkURL="images/Summer 2012 030.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Tubing trip, American river/Summer 2012 030.jpg">
    <title><![CDATA[Summer 2012 030]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Summer 2012 033.jpg"
	thumbURL="thumbs/Summer 2012 033.jpg"
	linkURL="images/Summer 2012 033.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Tubing trip, American river/Summer 2012 033.jpg">
    <title><![CDATA[Summer 2012 033]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Summer 2012 038.jpg"
	thumbURL="thumbs/Summer 2012 038.jpg"
	linkURL="images/Summer 2012 038.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Tubing trip, American river/Summer 2012 038.jpg">
    <title><![CDATA[Summer 2012 038]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Summer 2012 040.jpg"
	thumbURL="thumbs/Summer 2012 040.jpg"
	linkURL="images/Summer 2012 040.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Tubing trip, American river/Summer 2012 040.jpg">
    <title><![CDATA[Summer 2012 040]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Summer 2012 041.jpg"
	thumbURL="thumbs/Summer 2012 041.jpg"
	linkURL="images/Summer 2012 041.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Tubing trip, American river/Summer 2012 041.jpg">
    <title><![CDATA[Summer 2012 041]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Summer 2012 042.jpg"
	thumbURL="thumbs/Summer 2012 042.jpg"
	linkURL="images/Summer 2012 042.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Tubing trip, American river/Summer 2012 042.jpg">
    <title><![CDATA[Summer 2012 042]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Summer 2012 047.jpg"
	thumbURL="thumbs/Summer 2012 047.jpg"
	linkURL="images/Summer 2012 047.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Tubing trip, American river/Summer 2012 047.jpg">
    <title><![CDATA[Summer 2012 047]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Summer 2012 050.jpg"
	thumbURL="thumbs/Summer 2012 050.jpg"
	linkURL="images/Summer 2012 050.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Tubing trip, American river/Summer 2012 050.jpg">
    <title><![CDATA[Summer 2012 050]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Summer 2012 051.jpg"
	thumbURL="thumbs/Summer 2012 051.jpg"
	linkURL="images/Summer 2012 051.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Tubing trip, American river/Summer 2012 051.jpg">
    <title><![CDATA[Summer 2012 051]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Summer 2012 055.jpg"
	thumbURL="thumbs/Summer 2012 055.jpg"
	linkURL="images/Summer 2012 055.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Tubing trip, American river/Summer 2012 055.jpg">
    <title><![CDATA[Summer 2012 055]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Summer 2012 056.jpg"
	thumbURL="thumbs/Summer 2012 056.jpg"
	linkURL="images/Summer 2012 056.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Tubing trip, American river/Summer 2012 056.jpg">
    <title><![CDATA[Summer 2012 056]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Summer 2012 057.jpg"
	thumbURL="thumbs/Summer 2012 057.jpg"
	linkURL="images/Summer 2012 057.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Tubing trip, American river/Summer 2012 057.jpg">
    <title><![CDATA[Summer 2012 057]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Summer 2012 067.jpg"
	thumbURL="thumbs/Summer 2012 067.jpg"
	linkURL="images/Summer 2012 067.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - Tubing trip, American river/Summer 2012 067.jpg">
    <title><![CDATA[Summer 2012 067]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>