<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="2012 - Winter Party #2"

>
  <image imageURL="images/DSC07375.jpg"
	thumbURL="thumbs/DSC07375.jpg"
	linkURL="images/DSC07375.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07375.jpg">
    <title><![CDATA[DSC07375]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07376.jpg"
	thumbURL="thumbs/DSC07376.jpg"
	linkURL="images/DSC07376.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07376.jpg">
    <title><![CDATA[DSC07376]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07379.jpg"
	thumbURL="thumbs/DSC07379.jpg"
	linkURL="images/DSC07379.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07379.jpg">
    <title><![CDATA[DSC07379]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07380.jpg"
	thumbURL="thumbs/DSC07380.jpg"
	linkURL="images/DSC07380.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07380.jpg">
    <title><![CDATA[DSC07380]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07381.jpg"
	thumbURL="thumbs/DSC07381.jpg"
	linkURL="images/DSC07381.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07381.jpg">
    <title><![CDATA[DSC07381]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07384.jpg"
	thumbURL="thumbs/DSC07384.jpg"
	linkURL="images/DSC07384.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07384.jpg">
    <title><![CDATA[DSC07384]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07385.jpg"
	thumbURL="thumbs/DSC07385.jpg"
	linkURL="images/DSC07385.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07385.jpg">
    <title><![CDATA[DSC07385]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07386.jpg"
	thumbURL="thumbs/DSC07386.jpg"
	linkURL="images/DSC07386.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07386.jpg">
    <title><![CDATA[DSC07386]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07388.jpg"
	thumbURL="thumbs/DSC07388.jpg"
	linkURL="images/DSC07388.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07388.jpg">
    <title><![CDATA[DSC07388]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07389.jpg"
	thumbURL="thumbs/DSC07389.jpg"
	linkURL="images/DSC07389.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07389.jpg">
    <title><![CDATA[DSC07389]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07390.jpg"
	thumbURL="thumbs/DSC07390.jpg"
	linkURL="images/DSC07390.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07390.jpg">
    <title><![CDATA[DSC07390]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07395.jpg"
	thumbURL="thumbs/DSC07395.jpg"
	linkURL="images/DSC07395.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07395.jpg">
    <title><![CDATA[DSC07395]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07396.jpg"
	thumbURL="thumbs/DSC07396.jpg"
	linkURL="images/DSC07396.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07396.jpg">
    <title><![CDATA[DSC07396]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07398.jpg"
	thumbURL="thumbs/DSC07398.jpg"
	linkURL="images/DSC07398.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07398.jpg">
    <title><![CDATA[DSC07398]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07401.jpg"
	thumbURL="thumbs/DSC07401.jpg"
	linkURL="images/DSC07401.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07401.jpg">
    <title><![CDATA[DSC07401]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07403.jpg"
	thumbURL="thumbs/DSC07403.jpg"
	linkURL="images/DSC07403.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07403.jpg">
    <title><![CDATA[DSC07403]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07404.jpg"
	thumbURL="thumbs/DSC07404.jpg"
	linkURL="images/DSC07404.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07404.jpg">
    <title><![CDATA[DSC07404]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07406.jpg"
	thumbURL="thumbs/DSC07406.jpg"
	linkURL="images/DSC07406.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07406.jpg">
    <title><![CDATA[DSC07406]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07408.jpg"
	thumbURL="thumbs/DSC07408.jpg"
	linkURL="images/DSC07408.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07408.jpg">
    <title><![CDATA[DSC07408]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07423.jpg"
	thumbURL="thumbs/DSC07423.jpg"
	linkURL="images/DSC07423.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07423.jpg">
    <title><![CDATA[DSC07423]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07424.jpg"
	thumbURL="thumbs/DSC07424.jpg"
	linkURL="images/DSC07424.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07424.jpg">
    <title><![CDATA[DSC07424]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07433.jpg"
	thumbURL="thumbs/DSC07433.jpg"
	linkURL="images/DSC07433.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07433.jpg">
    <title><![CDATA[DSC07433]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07435.jpg"
	thumbURL="thumbs/DSC07435.jpg"
	linkURL="images/DSC07435.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07435.jpg">
    <title><![CDATA[DSC07435]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07439.jpg"
	thumbURL="thumbs/DSC07439.jpg"
	linkURL="images/DSC07439.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07439.jpg">
    <title><![CDATA[DSC07439]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07442.jpg"
	thumbURL="thumbs/DSC07442.jpg"
	linkURL="images/DSC07442.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07442.jpg">
    <title><![CDATA[DSC07442]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07444.jpg"
	thumbURL="thumbs/DSC07444.jpg"
	linkURL="images/DSC07444.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07444.jpg">
    <title><![CDATA[DSC07444]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07455.jpg"
	thumbURL="thumbs/DSC07455.jpg"
	linkURL="images/DSC07455.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07455.jpg">
    <title><![CDATA[DSC07455]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07457.jpg"
	thumbURL="thumbs/DSC07457.jpg"
	linkURL="images/DSC07457.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07457.jpg">
    <title><![CDATA[DSC07457]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07460.jpg"
	thumbURL="thumbs/DSC07460.jpg"
	linkURL="images/DSC07460.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07460.jpg">
    <title><![CDATA[DSC07460]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07461.jpg"
	thumbURL="thumbs/DSC07461.jpg"
	linkURL="images/DSC07461.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07461.jpg">
    <title><![CDATA[DSC07461]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07463.jpg"
	thumbURL="thumbs/DSC07463.jpg"
	linkURL="images/DSC07463.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07463.jpg">
    <title><![CDATA[DSC07463]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07464.jpg"
	thumbURL="thumbs/DSC07464.jpg"
	linkURL="images/DSC07464.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07464.jpg">
    <title><![CDATA[DSC07464]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07465.jpg"
	thumbURL="thumbs/DSC07465.jpg"
	linkURL="images/DSC07465.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07465.jpg">
    <title><![CDATA[DSC07465]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07470.jpg"
	thumbURL="thumbs/DSC07470.jpg"
	linkURL="images/DSC07470.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07470.jpg">
    <title><![CDATA[DSC07470]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07471.jpg"
	thumbURL="thumbs/DSC07471.jpg"
	linkURL="images/DSC07471.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07471.jpg">
    <title><![CDATA[DSC07471]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07500.jpg"
	thumbURL="thumbs/DSC07500.jpg"
	linkURL="images/DSC07500.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07500.jpg">
    <title><![CDATA[DSC07500]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07504.jpg"
	thumbURL="thumbs/DSC07504.jpg"
	linkURL="images/DSC07504.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07504.jpg">
    <title><![CDATA[DSC07504]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07505.jpg"
	thumbURL="thumbs/DSC07505.jpg"
	linkURL="images/DSC07505.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07505.jpg">
    <title><![CDATA[DSC07505]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07508.jpg"
	thumbURL="thumbs/DSC07508.jpg"
	linkURL="images/DSC07508.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07508.jpg">
    <title><![CDATA[DSC07508]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07510.jpg"
	thumbURL="thumbs/DSC07510.jpg"
	linkURL="images/DSC07510.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07510.jpg">
    <title><![CDATA[DSC07510]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>