<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="2009 - Ski Trip, Lake Tahoe"

>
  <image imageURL="images/IMG_1511.jpg"
	thumbURL="thumbs/IMG_1511.jpg"
	linkURL="images/IMG_1511.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2009 - Ski trip, Lake Tahoe/IMG_1511.jpg">
    <title><![CDATA[IMG_1511]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1512.jpg"
	thumbURL="thumbs/IMG_1512.jpg"
	linkURL="images/IMG_1512.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2009 - Ski trip, Lake Tahoe/IMG_1512.jpg">
    <title><![CDATA[IMG_1512]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1523.jpg"
	thumbURL="thumbs/IMG_1523.jpg"
	linkURL="images/IMG_1523.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2009 - Ski trip, Lake Tahoe/IMG_1523.jpg">
    <title><![CDATA[IMG_1523]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1531.jpg"
	thumbURL="thumbs/IMG_1531.jpg"
	linkURL="images/IMG_1531.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2009 - Ski trip, Lake Tahoe/IMG_1531.jpg">
    <title><![CDATA[IMG_1531]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1545.jpg"
	thumbURL="thumbs/IMG_1545.jpg"
	linkURL="images/IMG_1545.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2009 - Ski trip, Lake Tahoe/IMG_1545.jpg">
    <title><![CDATA[IMG_1545]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Untitled.jpg"
	thumbURL="thumbs/Untitled.jpg"
	linkURL="images/Untitled.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2009 - Ski trip, Lake Tahoe/Untitled.png">
    <title><![CDATA[Untitled]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Untitled2.jpg"
	thumbURL="thumbs/Untitled2.jpg"
	linkURL="images/Untitled2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2009 - Ski trip, Lake Tahoe/Untitled2.png">
    <title><![CDATA[Untitled2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Untitled3.jpg"
	thumbURL="thumbs/Untitled3.jpg"
	linkURL="images/Untitled3.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2009 - Ski trip, Lake Tahoe/Untitled3.png">
    <title><![CDATA[Untitled3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Untitled4.jpg"
	thumbURL="thumbs/Untitled4.jpg"
	linkURL="images/Untitled4.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2009 - Ski trip, Lake Tahoe/Untitled4.png">
    <title><![CDATA[Untitled4]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Untitled5.jpg"
	thumbURL="thumbs/Untitled5.jpg"
	linkURL="images/Untitled5.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2009 - Ski trip, Lake Tahoe/Untitled5.png">
    <title><![CDATA[Untitled5]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Untitled6.jpg"
	thumbURL="thumbs/Untitled6.jpg"
	linkURL="images/Untitled6.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2009 - Ski trip, Lake Tahoe/Untitled6.png">
    <title><![CDATA[Untitled6]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Untitled7.jpg"
	thumbURL="thumbs/Untitled7.jpg"
	linkURL="images/Untitled7.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2009 - Ski trip, Lake Tahoe/Untitled7.png">
    <title><![CDATA[Untitled7]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Untitled8.jpg"
	thumbURL="thumbs/Untitled8.jpg"
	linkURL="images/Untitled8.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2009 - Ski trip, Lake Tahoe/Untitled8.png">
    <title><![CDATA[Untitled8]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Untitled9.jpg"
	thumbURL="thumbs/Untitled9.jpg"
	linkURL="images/Untitled9.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2009 - Ski trip, Lake Tahoe/Untitled9.png">
    <title><![CDATA[Untitled9]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Untitled11.jpg"
	thumbURL="thumbs/Untitled11.jpg"
	linkURL="images/Untitled11.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2009 - Ski trip, Lake Tahoe/Untitled11.png">
    <title><![CDATA[Untitled11]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Untitled12.jpg"
	thumbURL="thumbs/Untitled12.jpg"
	linkURL="images/Untitled12.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2009 - Ski trip, Lake Tahoe/Untitled12.png">
    <title><![CDATA[Untitled12]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Untitled13.jpg"
	thumbURL="thumbs/Untitled13.jpg"
	linkURL="images/Untitled13.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2009 - Ski trip, Lake Tahoe/Untitled13.png">
    <title><![CDATA[Untitled13]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Untitled14.jpg"
	thumbURL="thumbs/Untitled14.jpg"
	linkURL="images/Untitled14.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2009 - Ski trip, Lake Tahoe/Untitled14.png">
    <title><![CDATA[Untitled14]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Untitled15.jpg"
	thumbURL="thumbs/Untitled15.jpg"
	linkURL="images/Untitled15.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2009 - Ski trip, Lake Tahoe/Untitled15.png">
    <title><![CDATA[Untitled15]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Untitled16.jpg"
	thumbURL="thumbs/Untitled16.jpg"
	linkURL="images/Untitled16.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2009 - Ski trip, Lake Tahoe/Untitled16.png">
    <title><![CDATA[Untitled16]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Untitled18.jpg"
	thumbURL="thumbs/Untitled18.jpg"
	linkURL="images/Untitled18.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2009 - Ski trip, Lake Tahoe/Untitled18.png">
    <title><![CDATA[Untitled18]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Untitled19.jpg"
	thumbURL="thumbs/Untitled19.jpg"
	linkURL="images/Untitled19.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2009 - Ski trip, Lake Tahoe/Untitled19.png">
    <title><![CDATA[Untitled19]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Untitled22.jpg"
	thumbURL="thumbs/Untitled22.jpg"
	linkURL="images/Untitled22.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2009 - Ski trip, Lake Tahoe/Untitled22.png">
    <title><![CDATA[Untitled22]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>