<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/DSC01806.jpg"
	thumbURL="thumbs/DSC01806.jpg"
	linkURL="images/DSC01806.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01806.jpg"

>
    <title><![CDATA[DSC01806]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01808.jpg"
	thumbURL="thumbs/DSC01808.jpg"
	linkURL="images/DSC01808.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01808.jpg">
    <title><![CDATA[DSC01808]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01815.jpg"
	thumbURL="thumbs/DSC01815.jpg"
	linkURL="images/DSC01815.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01815.jpg">
    <title><![CDATA[DSC01815]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01818.jpg"
	thumbURL="thumbs/DSC01818.jpg"
	linkURL="images/DSC01818.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01818.jpg">
    <title><![CDATA[DSC01818]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01819.jpg"
	thumbURL="thumbs/DSC01819.jpg"
	linkURL="images/DSC01819.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01819.jpg">
    <title><![CDATA[DSC01819]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01821.jpg"
	thumbURL="thumbs/DSC01821.jpg"
	linkURL="images/DSC01821.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01821.jpg">
    <title><![CDATA[DSC01821]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01822.jpg"
	thumbURL="thumbs/DSC01822.jpg"
	linkURL="images/DSC01822.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01822.jpg">
    <title><![CDATA[DSC01822]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01825.jpg"
	thumbURL="thumbs/DSC01825.jpg"
	linkURL="images/DSC01825.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01825.jpg">
    <title><![CDATA[DSC01825]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01831.jpg"
	thumbURL="thumbs/DSC01831.jpg"
	linkURL="images/DSC01831.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01831.jpg">
    <title><![CDATA[DSC01831]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01833.jpg"
	thumbURL="thumbs/DSC01833.jpg"
	linkURL="images/DSC01833.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01833.jpg">
    <title><![CDATA[DSC01833]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01839.jpg"
	thumbURL="thumbs/DSC01839.jpg"
	linkURL="images/DSC01839.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01839.jpg">
    <title><![CDATA[DSC01839]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01843.jpg"
	thumbURL="thumbs/DSC01843.jpg"
	linkURL="images/DSC01843.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01843.jpg">
    <title><![CDATA[DSC01843]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01844.jpg"
	thumbURL="thumbs/DSC01844.jpg"
	linkURL="images/DSC01844.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01844.jpg">
    <title><![CDATA[DSC01844]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01845.jpg"
	thumbURL="thumbs/DSC01845.jpg"
	linkURL="images/DSC01845.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01845.jpg">
    <title><![CDATA[DSC01845]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01853.jpg"
	thumbURL="thumbs/DSC01853.jpg"
	linkURL="images/DSC01853.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01853.jpg">
    <title><![CDATA[DSC01853]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01867.jpg"
	thumbURL="thumbs/DSC01867.jpg"
	linkURL="images/DSC01867.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01867.jpg">
    <title><![CDATA[DSC01867]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01869.jpg"
	thumbURL="thumbs/DSC01869.jpg"
	linkURL="images/DSC01869.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01869.jpg">
    <title><![CDATA[DSC01869]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01870.jpg"
	thumbURL="thumbs/DSC01870.jpg"
	linkURL="images/DSC01870.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01870.jpg">
    <title><![CDATA[DSC01870]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01871.jpg"
	thumbURL="thumbs/DSC01871.jpg"
	linkURL="images/DSC01871.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01871.jpg">
    <title><![CDATA[DSC01871]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01876.jpg"
	thumbURL="thumbs/DSC01876.jpg"
	linkURL="images/DSC01876.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01876.jpg">
    <title><![CDATA[DSC01876]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01879.jpg"
	thumbURL="thumbs/DSC01879.jpg"
	linkURL="images/DSC01879.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01879.jpg">
    <title><![CDATA[DSC01879]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01880.jpg"
	thumbURL="thumbs/DSC01880.jpg"
	linkURL="images/DSC01880.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01880.jpg">
    <title><![CDATA[DSC01880]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01883.jpg"
	thumbURL="thumbs/DSC01883.jpg"
	linkURL="images/DSC01883.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01883.jpg">
    <title><![CDATA[DSC01883]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01884.jpg"
	thumbURL="thumbs/DSC01884.jpg"
	linkURL="images/DSC01884.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01884.jpg">
    <title><![CDATA[DSC01884]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01885.jpg"
	thumbURL="thumbs/DSC01885.jpg"
	linkURL="images/DSC01885.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01885.jpg">
    <title><![CDATA[DSC01885]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01886.jpg"
	thumbURL="thumbs/DSC01886.jpg"
	linkURL="images/DSC01886.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01886.jpg">
    <title><![CDATA[DSC01886]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01887.jpg"
	thumbURL="thumbs/DSC01887.jpg"
	linkURL="images/DSC01887.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01887.jpg">
    <title><![CDATA[DSC01887]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01890.jpg"
	thumbURL="thumbs/DSC01890.jpg"
	linkURL="images/DSC01890.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01890.jpg">
    <title><![CDATA[DSC01890]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01893.jpg"
	thumbURL="thumbs/DSC01893.jpg"
	linkURL="images/DSC01893.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01893.jpg">
    <title><![CDATA[DSC01893]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01894.jpg"
	thumbURL="thumbs/DSC01894.jpg"
	linkURL="images/DSC01894.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01894.jpg">
    <title><![CDATA[DSC01894]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01896.jpg"
	thumbURL="thumbs/DSC01896.jpg"
	linkURL="images/DSC01896.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01896.jpg">
    <title><![CDATA[DSC01896]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01897.jpg"
	thumbURL="thumbs/DSC01897.jpg"
	linkURL="images/DSC01897.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01897.jpg">
    <title><![CDATA[DSC01897]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01900.jpg"
	thumbURL="thumbs/DSC01900.jpg"
	linkURL="images/DSC01900.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01900.jpg">
    <title><![CDATA[DSC01900]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01901.jpg"
	thumbURL="thumbs/DSC01901.jpg"
	linkURL="images/DSC01901.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01901.jpg">
    <title><![CDATA[DSC01901]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01903.jpg"
	thumbURL="thumbs/DSC01903.jpg"
	linkURL="images/DSC01903.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01903.jpg">
    <title><![CDATA[DSC01903]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01905.jpg"
	thumbURL="thumbs/DSC01905.jpg"
	linkURL="images/DSC01905.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01905.jpg">
    <title><![CDATA[DSC01905]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01907.jpg"
	thumbURL="thumbs/DSC01907.jpg"
	linkURL="images/DSC01907.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01907.jpg">
    <title><![CDATA[DSC01907]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01911.jpg"
	thumbURL="thumbs/DSC01911.jpg"
	linkURL="images/DSC01911.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01911.jpg">
    <title><![CDATA[DSC01911]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01913.jpg"
	thumbURL="thumbs/DSC01913.jpg"
	linkURL="images/DSC01913.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01913.jpg">
    <title><![CDATA[DSC01913]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01914.jpg"
	thumbURL="thumbs/DSC01914.jpg"
	linkURL="images/DSC01914.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01914.jpg">
    <title><![CDATA[DSC01914]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01929.jpg"
	thumbURL="thumbs/DSC01929.jpg"
	linkURL="images/DSC01929.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01929.jpg">
    <title><![CDATA[DSC01929]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01934.jpg"
	thumbURL="thumbs/DSC01934.jpg"
	linkURL="images/DSC01934.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01934.jpg">
    <title><![CDATA[DSC01934]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01940.jpg"
	thumbURL="thumbs/DSC01940.jpg"
	linkURL="images/DSC01940.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01940.jpg">
    <title><![CDATA[DSC01940]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01941.jpg"
	thumbURL="thumbs/DSC01941.jpg"
	linkURL="images/DSC01941.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01941.jpg">
    <title><![CDATA[DSC01941]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01947.jpg"
	thumbURL="thumbs/DSC01947.jpg"
	linkURL="images/DSC01947.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01947.jpg">
    <title><![CDATA[DSC01947]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01950.jpg"
	thumbURL="thumbs/DSC01950.jpg"
	linkURL="images/DSC01950.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01950.jpg">
    <title><![CDATA[DSC01950]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01955.jpg"
	thumbURL="thumbs/DSC01955.jpg"
	linkURL="images/DSC01955.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01955.jpg">
    <title><![CDATA[DSC01955]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01956.jpg"
	thumbURL="thumbs/DSC01956.jpg"
	linkURL="images/DSC01956.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01956.jpg">
    <title><![CDATA[DSC01956]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01959.jpg"
	thumbURL="thumbs/DSC01959.jpg"
	linkURL="images/DSC01959.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/99/DSC01959.jpg">
    <title><![CDATA[DSC01959]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>