<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	cropToFit="true"
	importTitle="NONE"
	galleryTitle="20th_anniversary"

>
  <image imageURL="images/R0010608.jpg"
	thumbURL="thumbs/R0010608.jpg"
	linkURL="images/R0010608.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\R0010608.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R0010610.jpg"
	thumbURL="thumbs/R0010610.jpg"
	linkURL="images/R0010610.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\R0010610.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R0010612.jpg"
	thumbURL="thumbs/R0010612.jpg"
	linkURL="images/R0010612.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\R0010612.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R0010615.jpg"
	thumbURL="thumbs/R0010615.jpg"
	linkURL="images/R0010615.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\R0010615.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R0010622.jpg"
	thumbURL="thumbs/R0010622.jpg"
	linkURL="images/R0010622.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\R0010622.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R0010635.jpg"
	thumbURL="thumbs/R0010635.jpg"
	linkURL="images/R0010635.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\R0010635.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R0010636.jpg"
	thumbURL="thumbs/R0010636.jpg"
	linkURL="images/R0010636.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\R0010636.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R0010650.jpg"
	thumbURL="thumbs/R0010650.jpg"
	linkURL="images/R0010650.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\R0010650.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R0010652.jpg"
	thumbURL="thumbs/R0010652.jpg"
	linkURL="images/R0010652.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\R0010652.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R0010655.jpg"
	thumbURL="thumbs/R0010655.jpg"
	linkURL="images/R0010655.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\R0010655.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R0010906.jpg"
	thumbURL="thumbs/R0010906.jpg"
	linkURL="images/R0010906.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\R0010906.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R0010978.jpg"
	thumbURL="thumbs/R0010978.jpg"
	linkURL="images/R0010978.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\R0010978.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R0010985.jpg"
	thumbURL="thumbs/R0010985.jpg"
	linkURL="images/R0010985.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\R0010985.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R0011005.jpg"
	thumbURL="thumbs/R0011005.jpg"
	linkURL="images/R0011005.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\R0011005.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-102.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-102.jpg"
	linkURL="images/SchafferLab20th_July2019-102.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-102.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-104.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-104.jpg"
	linkURL="images/SchafferLab20th_July2019-104.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-104.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-117.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-117.jpg"
	linkURL="images/SchafferLab20th_July2019-117.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-117.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-12.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-12.jpg"
	linkURL="images/SchafferLab20th_July2019-12.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-12.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-125.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-125.jpg"
	linkURL="images/SchafferLab20th_July2019-125.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-125.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-13.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-13.jpg"
	linkURL="images/SchafferLab20th_July2019-13.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-13.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-137.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-137.jpg"
	linkURL="images/SchafferLab20th_July2019-137.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-137.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-138.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-138.jpg"
	linkURL="images/SchafferLab20th_July2019-138.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-138.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-145.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-145.jpg"
	linkURL="images/SchafferLab20th_July2019-145.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-145.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-151.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-151.jpg"
	linkURL="images/SchafferLab20th_July2019-151.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-151.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-153.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-153.jpg"
	linkURL="images/SchafferLab20th_July2019-153.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-153.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-21.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-21.jpg"
	linkURL="images/SchafferLab20th_July2019-21.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-21.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-23.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-23.jpg"
	linkURL="images/SchafferLab20th_July2019-23.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-23.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-26.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-26.jpg"
	linkURL="images/SchafferLab20th_July2019-26.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-26.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-30.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-30.jpg"
	linkURL="images/SchafferLab20th_July2019-30.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-30.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-35.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-35.jpg"
	linkURL="images/SchafferLab20th_July2019-35.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-35.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-36.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-36.jpg"
	linkURL="images/SchafferLab20th_July2019-36.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-36.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-40.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-40.jpg"
	linkURL="images/SchafferLab20th_July2019-40.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-40.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-43.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-43.jpg"
	linkURL="images/SchafferLab20th_July2019-43.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-43.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-45.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-45.jpg"
	linkURL="images/SchafferLab20th_July2019-45.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-45.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-51.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-51.jpg"
	linkURL="images/SchafferLab20th_July2019-51.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-51.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-53.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-53.jpg"
	linkURL="images/SchafferLab20th_July2019-53.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-53.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-6.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-6.jpg"
	linkURL="images/SchafferLab20th_July2019-6.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-6.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-60.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-60.jpg"
	linkURL="images/SchafferLab20th_July2019-60.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-60.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-62.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-62.jpg"
	linkURL="images/SchafferLab20th_July2019-62.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-62.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-69.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-69.jpg"
	linkURL="images/SchafferLab20th_July2019-69.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-69.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-71.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-71.jpg"
	linkURL="images/SchafferLab20th_July2019-71.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-71.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-72.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-72.jpg"
	linkURL="images/SchafferLab20th_July2019-72.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-72.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-74.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-74.jpg"
	linkURL="images/SchafferLab20th_July2019-74.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-74.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-78.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-78.jpg"
	linkURL="images/SchafferLab20th_July2019-78.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-78.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-79.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-79.jpg"
	linkURL="images/SchafferLab20th_July2019-79.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-79.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-88.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-88.jpg"
	linkURL="images/SchafferLab20th_July2019-88.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-88.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-89.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-89.jpg"
	linkURL="images/SchafferLab20th_July2019-89.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-89.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-90.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-90.jpg"
	linkURL="images/SchafferLab20th_July2019-90.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-90.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-91.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-91.jpg"
	linkURL="images/SchafferLab20th_July2019-91.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-91.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-92.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-92.jpg"
	linkURL="images/SchafferLab20th_July2019-92.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ivale\Desktop\temp\SchafferLab20th_July2019-92.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>