<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="2012 - Deniz&amp;Albert's Farewell Party"
	useFullscreenExpand="false"
	showExpandButton="true"

>
  <image imageURL="images/Albert 1 IMG_1806.jpg"
	thumbURL="thumbs/Albert 1 IMG_1806.jpg"
	linkURL="images/Albert 1 IMG_1806.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/Albert 1 IMG_1806.jpg">
    <title><![CDATA[Albert 1 IMG_1806]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06123.jpg"
	thumbURL="thumbs/DSC06123.jpg"
	linkURL="images/DSC06123.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06123.jpg">
    <title><![CDATA[DSC06123]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06124.jpg"
	thumbURL="thumbs/DSC06124.jpg"
	linkURL="images/DSC06124.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06124.jpg">
    <title><![CDATA[DSC06124]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06125.jpg"
	thumbURL="thumbs/DSC06125.jpg"
	linkURL="images/DSC06125.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06125.jpg">
    <title><![CDATA[DSC06125]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06127.jpg"
	thumbURL="thumbs/DSC06127.jpg"
	linkURL="images/DSC06127.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06127.jpg">
    <title><![CDATA[DSC06127]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06128.jpg"
	thumbURL="thumbs/DSC06128.jpg"
	linkURL="images/DSC06128.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06128.jpg">
    <title><![CDATA[DSC06128]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06129.jpg"
	thumbURL="thumbs/DSC06129.jpg"
	linkURL="images/DSC06129.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06129.jpg">
    <title><![CDATA[DSC06129]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06133.jpg"
	thumbURL="thumbs/DSC06133.jpg"
	linkURL="images/DSC06133.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06133.jpg">
    <title><![CDATA[DSC06133]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06134.jpg"
	thumbURL="thumbs/DSC06134.jpg"
	linkURL="images/DSC06134.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06134.jpg">
    <title><![CDATA[DSC06134]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06135.jpg"
	thumbURL="thumbs/DSC06135.jpg"
	linkURL="images/DSC06135.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06135.jpg">
    <title><![CDATA[DSC06135]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06136.jpg"
	thumbURL="thumbs/DSC06136.jpg"
	linkURL="images/DSC06136.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06136.jpg">
    <title><![CDATA[DSC06136]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06137.jpg"
	thumbURL="thumbs/DSC06137.jpg"
	linkURL="images/DSC06137.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06137.jpg">
    <title><![CDATA[DSC06137]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06138.jpg"
	thumbURL="thumbs/DSC06138.jpg"
	linkURL="images/DSC06138.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06138.jpg">
    <title><![CDATA[DSC06138]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06139.jpg"
	thumbURL="thumbs/DSC06139.jpg"
	linkURL="images/DSC06139.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06139.jpg">
    <title><![CDATA[DSC06139]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06140.jpg"
	thumbURL="thumbs/DSC06140.jpg"
	linkURL="images/DSC06140.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06140.jpg">
    <title><![CDATA[DSC06140]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06141-SMILE.jpg"
	thumbURL="thumbs/DSC06141-SMILE.jpg"
	linkURL="images/DSC06141-SMILE.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06141-SMILE.jpg">
    <title><![CDATA[DSC06141-SMILE]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06141.jpg"
	thumbURL="thumbs/DSC06141.jpg"
	linkURL="images/DSC06141.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06141.jpg">
    <title><![CDATA[DSC06141]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06142.jpg"
	thumbURL="thumbs/DSC06142.jpg"
	linkURL="images/DSC06142.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06142.jpg">
    <title><![CDATA[DSC06142]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06143.jpg"
	thumbURL="thumbs/DSC06143.jpg"
	linkURL="images/DSC06143.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06143.jpg">
    <title><![CDATA[DSC06143]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06144.jpg"
	thumbURL="thumbs/DSC06144.jpg"
	linkURL="images/DSC06144.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06144.jpg">
    <title><![CDATA[DSC06144]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06145.jpg"
	thumbURL="thumbs/DSC06145.jpg"
	linkURL="images/DSC06145.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06145.jpg">
    <title><![CDATA[DSC06145]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06146.jpg"
	thumbURL="thumbs/DSC06146.jpg"
	linkURL="images/DSC06146.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06146.jpg">
    <title><![CDATA[DSC06146]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06147.jpg"
	thumbURL="thumbs/DSC06147.jpg"
	linkURL="images/DSC06147.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06147.jpg">
    <title><![CDATA[DSC06147]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06149.jpg"
	thumbURL="thumbs/DSC06149.jpg"
	linkURL="images/DSC06149.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06149.jpg">
    <title><![CDATA[DSC06149]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06154.jpg"
	thumbURL="thumbs/DSC06154.jpg"
	linkURL="images/DSC06154.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06154.jpg">
    <title><![CDATA[DSC06154]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06156.jpg"
	thumbURL="thumbs/DSC06156.jpg"
	linkURL="images/DSC06156.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06156.jpg">
    <title><![CDATA[DSC06156]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06157.jpg"
	thumbURL="thumbs/DSC06157.jpg"
	linkURL="images/DSC06157.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06157.jpg">
    <title><![CDATA[DSC06157]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06158.jpg"
	thumbURL="thumbs/DSC06158.jpg"
	linkURL="images/DSC06158.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06158.jpg">
    <title><![CDATA[DSC06158]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06160.jpg"
	thumbURL="thumbs/DSC06160.jpg"
	linkURL="images/DSC06160.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06160.jpg">
    <title><![CDATA[DSC06160]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06161.jpg"
	thumbURL="thumbs/DSC06161.jpg"
	linkURL="images/DSC06161.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06161.jpg">
    <title><![CDATA[DSC06161]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06162.jpg"
	thumbURL="thumbs/DSC06162.jpg"
	linkURL="images/DSC06162.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06162.jpg">
    <title><![CDATA[DSC06162]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06163.jpg"
	thumbURL="thumbs/DSC06163.jpg"
	linkURL="images/DSC06163.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06163.jpg">
    <title><![CDATA[DSC06163]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06164.jpg"
	thumbURL="thumbs/DSC06164.jpg"
	linkURL="images/DSC06164.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06164.jpg">
    <title><![CDATA[DSC06164]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06165.jpg"
	thumbURL="thumbs/DSC06165.jpg"
	linkURL="images/DSC06165.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06165.jpg">
    <title><![CDATA[DSC06165]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06098.jpg"
	thumbURL="thumbs/DSC06098.jpg"
	linkURL="images/DSC06098.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06098.jpg">
    <title><![CDATA[DSC06098]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06099.jpg"
	thumbURL="thumbs/DSC06099.jpg"
	linkURL="images/DSC06099.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06099.jpg">
    <title><![CDATA[DSC06099]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06100.jpg"
	thumbURL="thumbs/DSC06100.jpg"
	linkURL="images/DSC06100.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06100.jpg">
    <title><![CDATA[DSC06100]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06101.jpg"
	thumbURL="thumbs/DSC06101.jpg"
	linkURL="images/DSC06101.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06101.jpg">
    <title><![CDATA[DSC06101]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06102.jpg"
	thumbURL="thumbs/DSC06102.jpg"
	linkURL="images/DSC06102.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06102.jpg">
    <title><![CDATA[DSC06102]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06103.jpg"
	thumbURL="thumbs/DSC06103.jpg"
	linkURL="images/DSC06103.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06103.jpg">
    <title><![CDATA[DSC06103]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06104.jpg"
	thumbURL="thumbs/DSC06104.jpg"
	linkURL="images/DSC06104.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06104.jpg">
    <title><![CDATA[DSC06104]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06105.jpg"
	thumbURL="thumbs/DSC06105.jpg"
	linkURL="images/DSC06105.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06105.jpg">
    <title><![CDATA[DSC06105]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06107.jpg"
	thumbURL="thumbs/DSC06107.jpg"
	linkURL="images/DSC06107.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06107.jpg">
    <title><![CDATA[DSC06107]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06108.jpg"
	thumbURL="thumbs/DSC06108.jpg"
	linkURL="images/DSC06108.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06108.jpg">
    <title><![CDATA[DSC06108]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06109.jpg"
	thumbURL="thumbs/DSC06109.jpg"
	linkURL="images/DSC06109.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06109.jpg">
    <title><![CDATA[DSC06109]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06110.jpg"
	thumbURL="thumbs/DSC06110.jpg"
	linkURL="images/DSC06110.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06110.jpg">
    <title><![CDATA[DSC06110]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06111.jpg"
	thumbURL="thumbs/DSC06111.jpg"
	linkURL="images/DSC06111.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06111.jpg">
    <title><![CDATA[DSC06111]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC06112.jpg"
	thumbURL="thumbs/DSC06112.jpg"
	linkURL="images/DSC06112.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/2012 - Deniz&amp;Albert's farewell party/DSC06112.jpg">
    <title><![CDATA[DSC06112]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20170430_192206-1.jpg"
	thumbURL="thumbs/IMG_20170430_192206-1.jpg"
	linkURL="images/IMG_20170430_192206-1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/IMG_20170430_192206-1.jpg">
    <title><![CDATA[IMG_20170430_192206-1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20170430_192237-3.jpg"
	thumbURL="thumbs/IMG_20170430_192237-3.jpg"
	linkURL="images/IMG_20170430_192237-3.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/Downloads/IMG_20170430_192237-3.jpg">
    <title><![CDATA[IMG_20170430_192237-3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>