<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="2011 - Winter Party"

>
  <image imageURL="images/DSC05540.jpg"
	thumbURL="thumbs/DSC05540.jpg"
	linkURL="images/DSC05540.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05540.jpg">
    <title><![CDATA[DSC05540]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05541.jpg"
	thumbURL="thumbs/DSC05541.jpg"
	linkURL="images/DSC05541.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05541.jpg">
    <title><![CDATA[DSC05541]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05542.jpg"
	thumbURL="thumbs/DSC05542.jpg"
	linkURL="images/DSC05542.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05542.jpg">
    <title><![CDATA[DSC05542]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05543.jpg"
	thumbURL="thumbs/DSC05543.jpg"
	linkURL="images/DSC05543.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05543.jpg">
    <title><![CDATA[DSC05543]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05544.jpg"
	thumbURL="thumbs/DSC05544.jpg"
	linkURL="images/DSC05544.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05544.jpg">
    <title><![CDATA[DSC05544]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05545.jpg"
	thumbURL="thumbs/DSC05545.jpg"
	linkURL="images/DSC05545.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05545.jpg">
    <title><![CDATA[DSC05545]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05546.jpg"
	thumbURL="thumbs/DSC05546.jpg"
	linkURL="images/DSC05546.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05546.jpg">
    <title><![CDATA[DSC05546]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05547.jpg"
	thumbURL="thumbs/DSC05547.jpg"
	linkURL="images/DSC05547.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05547.jpg">
    <title><![CDATA[DSC05547]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05548.jpg"
	thumbURL="thumbs/DSC05548.jpg"
	linkURL="images/DSC05548.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05548.jpg">
    <title><![CDATA[DSC05548]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05550.jpg"
	thumbURL="thumbs/DSC05550.jpg"
	linkURL="images/DSC05550.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05550.jpg">
    <title><![CDATA[DSC05550]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05551 2.jpg"
	thumbURL="thumbs/DSC05551 2.jpg"
	linkURL="images/DSC05551 2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05551 2.jpg">
    <title><![CDATA[DSC05551 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05553.jpg"
	thumbURL="thumbs/DSC05553.jpg"
	linkURL="images/DSC05553.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05553.jpg">
    <title><![CDATA[DSC05553]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05555.jpg"
	thumbURL="thumbs/DSC05555.jpg"
	linkURL="images/DSC05555.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05555.jpg">
    <title><![CDATA[DSC05555]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05556.jpg"
	thumbURL="thumbs/DSC05556.jpg"
	linkURL="images/DSC05556.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05556.jpg">
    <title><![CDATA[DSC05556]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05557.jpg"
	thumbURL="thumbs/DSC05557.jpg"
	linkURL="images/DSC05557.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05557.jpg">
    <title><![CDATA[DSC05557]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05558.jpg"
	thumbURL="thumbs/DSC05558.jpg"
	linkURL="images/DSC05558.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05558.jpg">
    <title><![CDATA[DSC05558]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05559.jpg"
	thumbURL="thumbs/DSC05559.jpg"
	linkURL="images/DSC05559.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05559.jpg">
    <title><![CDATA[DSC05559]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05560.jpg"
	thumbURL="thumbs/DSC05560.jpg"
	linkURL="images/DSC05560.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05560.jpg">
    <title><![CDATA[DSC05560]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05561.jpg"
	thumbURL="thumbs/DSC05561.jpg"
	linkURL="images/DSC05561.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05561.jpg">
    <title><![CDATA[DSC05561]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05562.jpg"
	thumbURL="thumbs/DSC05562.jpg"
	linkURL="images/DSC05562.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05562.jpg">
    <title><![CDATA[DSC05562]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05565.jpg"
	thumbURL="thumbs/DSC05565.jpg"
	linkURL="images/DSC05565.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05565.jpg">
    <title><![CDATA[DSC05565]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05567.jpg"
	thumbURL="thumbs/DSC05567.jpg"
	linkURL="images/DSC05567.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05567.jpg">
    <title><![CDATA[DSC05567]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05571.jpg"
	thumbURL="thumbs/DSC05571.jpg"
	linkURL="images/DSC05571.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05571.jpg">
    <title><![CDATA[DSC05571]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05572.jpg"
	thumbURL="thumbs/DSC05572.jpg"
	linkURL="images/DSC05572.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05572.jpg">
    <title><![CDATA[DSC05572]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05573.jpg"
	thumbURL="thumbs/DSC05573.jpg"
	linkURL="images/DSC05573.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05573.jpg">
    <title><![CDATA[DSC05573]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05574.jpg"
	thumbURL="thumbs/DSC05574.jpg"
	linkURL="images/DSC05574.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05574.jpg">
    <title><![CDATA[DSC05574]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05576.jpg"
	thumbURL="thumbs/DSC05576.jpg"
	linkURL="images/DSC05576.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05576.jpg">
    <title><![CDATA[DSC05576]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05579.jpg"
	thumbURL="thumbs/DSC05579.jpg"
	linkURL="images/DSC05579.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05579.jpg">
    <title><![CDATA[DSC05579]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05585.jpg"
	thumbURL="thumbs/DSC05585.jpg"
	linkURL="images/DSC05585.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05585.jpg">
    <title><![CDATA[DSC05585]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05587.jpg"
	thumbURL="thumbs/DSC05587.jpg"
	linkURL="images/DSC05587.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05587.jpg">
    <title><![CDATA[DSC05587]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05590.jpg"
	thumbURL="thumbs/DSC05590.jpg"
	linkURL="images/DSC05590.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05590.jpg">
    <title><![CDATA[DSC05590]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05592.jpg"
	thumbURL="thumbs/DSC05592.jpg"
	linkURL="images/DSC05592.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05592.jpg">
    <title><![CDATA[DSC05592]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05593.jpg"
	thumbURL="thumbs/DSC05593.jpg"
	linkURL="images/DSC05593.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05593.jpg">
    <title><![CDATA[DSC05593]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC05594.jpg"
	thumbURL="thumbs/DSC05594.jpg"
	linkURL="images/DSC05594.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2011 - winter party/DSC05594.jpg">
    <title><![CDATA[DSC05594]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>