<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="2016 - Lab Retreat at Russian River"

>
  <image imageURL="images/IMAG2980.jpg"
	thumbURL="thumbs/IMAG2980.jpg"
	linkURL="images/IMAG2980.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG2980.jpg">
    <title><![CDATA[IMAG2980]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG2981.jpg"
	thumbURL="thumbs/IMAG2981.jpg"
	linkURL="images/IMAG2981.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG2981.jpg">
    <title><![CDATA[IMAG2981]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG2983.jpg"
	thumbURL="thumbs/IMAG2983.jpg"
	linkURL="images/IMAG2983.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG2983.jpg">
    <title><![CDATA[IMAG2983]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG2984.jpg"
	thumbURL="thumbs/IMAG2984.jpg"
	linkURL="images/IMAG2984.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG2984.jpg">
    <title><![CDATA[IMAG2984]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG2987.jpg"
	thumbURL="thumbs/IMAG2987.jpg"
	linkURL="images/IMAG2987.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG2987.jpg">
    <title><![CDATA[IMAG2987]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG2988.jpg"
	thumbURL="thumbs/IMAG2988.jpg"
	linkURL="images/IMAG2988.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG2988.jpg">
    <title><![CDATA[IMAG2988]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG2989.jpg"
	thumbURL="thumbs/IMAG2989.jpg"
	linkURL="images/IMAG2989.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG2989.jpg">
    <title><![CDATA[IMAG2989]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG2990.jpg"
	thumbURL="thumbs/IMAG2990.jpg"
	linkURL="images/IMAG2990.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG2990.jpg">
    <title><![CDATA[IMAG2990]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG2991.jpg"
	thumbURL="thumbs/IMAG2991.jpg"
	linkURL="images/IMAG2991.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG2991.jpg">
    <title><![CDATA[IMAG2991]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG2992.jpg"
	thumbURL="thumbs/IMAG2992.jpg"
	linkURL="images/IMAG2992.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG2992.jpg">
    <title><![CDATA[IMAG2992]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG2993.jpg"
	thumbURL="thumbs/IMAG2993.jpg"
	linkURL="images/IMAG2993.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG2993.jpg">
    <title><![CDATA[IMAG2993]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG2994.jpg"
	thumbURL="thumbs/IMAG2994.jpg"
	linkURL="images/IMAG2994.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG2994.jpg">
    <title><![CDATA[IMAG2994]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG2995.jpg"
	thumbURL="thumbs/IMAG2995.jpg"
	linkURL="images/IMAG2995.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG2995.jpg">
    <title><![CDATA[IMAG2995]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG2996.jpg"
	thumbURL="thumbs/IMAG2996.jpg"
	linkURL="images/IMAG2996.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG2996.jpg">
    <title><![CDATA[IMAG2996]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG2997.jpg"
	thumbURL="thumbs/IMAG2997.jpg"
	linkURL="images/IMAG2997.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG2997.jpg">
    <title><![CDATA[IMAG2997]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG2998.jpg"
	thumbURL="thumbs/IMAG2998.jpg"
	linkURL="images/IMAG2998.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG2998.jpg">
    <title><![CDATA[IMAG2998]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG2999.jpg"
	thumbURL="thumbs/IMAG2999.jpg"
	linkURL="images/IMAG2999.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG2999.jpg">
    <title><![CDATA[IMAG2999]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG3000.jpg"
	thumbURL="thumbs/IMAG3000.jpg"
	linkURL="images/IMAG3000.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG3000.jpg">
    <title><![CDATA[IMAG3000]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG3001.jpg"
	thumbURL="thumbs/IMAG3001.jpg"
	linkURL="images/IMAG3001.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG3001.jpg">
    <title><![CDATA[IMAG3001]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG3003.jpg"
	thumbURL="thumbs/IMAG3003.jpg"
	linkURL="images/IMAG3003.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG3003.jpg">
    <title><![CDATA[IMAG3003]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG3004.jpg"
	thumbURL="thumbs/IMAG3004.jpg"
	linkURL="images/IMAG3004.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG3004.jpg">
    <title><![CDATA[IMAG3004]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG3006.jpg"
	thumbURL="thumbs/IMAG3006.jpg"
	linkURL="images/IMAG3006.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG3006.jpg">
    <title><![CDATA[IMAG3006]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG3007.jpg"
	thumbURL="thumbs/IMAG3007.jpg"
	linkURL="images/IMAG3007.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG3007.jpg">
    <title><![CDATA[IMAG3007]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG3008.jpg"
	thumbURL="thumbs/IMAG3008.jpg"
	linkURL="images/IMAG3008.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG3008.jpg">
    <title><![CDATA[IMAG3008]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG3011.jpg"
	thumbURL="thumbs/IMAG3011.jpg"
	linkURL="images/IMAG3011.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG3011.jpg">
    <title><![CDATA[IMAG3011]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG3012.jpg"
	thumbURL="thumbs/IMAG3012.jpg"
	linkURL="images/IMAG3012.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG3012.jpg">
    <title><![CDATA[IMAG3012]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG3013.jpg"
	thumbURL="thumbs/IMAG3013.jpg"
	linkURL="images/IMAG3013.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG3013.jpg">
    <title><![CDATA[IMAG3013]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG3014.jpg"
	thumbURL="thumbs/IMAG3014.jpg"
	linkURL="images/IMAG3014.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG3014.jpg">
    <title><![CDATA[IMAG3014]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG3015.jpg"
	thumbURL="thumbs/IMAG3015.jpg"
	linkURL="images/IMAG3015.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG3015.jpg">
    <title><![CDATA[IMAG3015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG3016.jpg"
	thumbURL="thumbs/IMAG3016.jpg"
	linkURL="images/IMAG3016.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG3016.jpg">
    <title><![CDATA[IMAG3016]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG3017.jpg"
	thumbURL="thumbs/IMAG3017.jpg"
	linkURL="images/IMAG3017.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG3017.jpg">
    <title><![CDATA[IMAG3017]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG3019.jpg"
	thumbURL="thumbs/IMAG3019.jpg"
	linkURL="images/IMAG3019.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG3019.jpg">
    <title><![CDATA[IMAG3019]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG3023.jpg"
	thumbURL="thumbs/IMAG3023.jpg"
	linkURL="images/IMAG3023.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG3023.jpg">
    <title><![CDATA[IMAG3023]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG3027.jpg"
	thumbURL="thumbs/IMAG3027.jpg"
	linkURL="images/IMAG3027.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG3027.jpg">
    <title><![CDATA[IMAG3027]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG3028.jpg"
	thumbURL="thumbs/IMAG3028.jpg"
	linkURL="images/IMAG3028.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG3028.jpg">
    <title><![CDATA[IMAG3028]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG3033.jpg"
	thumbURL="thumbs/IMAG3033.jpg"
	linkURL="images/IMAG3033.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG3033.jpg">
    <title><![CDATA[IMAG3033]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG3038.jpg"
	thumbURL="thumbs/IMAG3038.jpg"
	linkURL="images/IMAG3038.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG3038.jpg">
    <title><![CDATA[IMAG3038]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMAG3041.jpg"
	thumbURL="thumbs/IMAG3041.jpg"
	linkURL="images/IMAG3041.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMAG3041.jpg">
    <title><![CDATA[IMAG3041]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3242.jpg"
	thumbURL="thumbs/IMG_3242.jpg"
	linkURL="images/IMG_3242.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMG_3242.jpg">
    <title><![CDATA[IMG_3242]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3252.jpg"
	thumbURL="thumbs/IMG_3252.jpg"
	linkURL="images/IMG_3252.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMG_3252.jpg">
    <title><![CDATA[IMG_3252]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3255.jpg"
	thumbURL="thumbs/IMG_3255.jpg"
	linkURL="images/IMG_3255.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMG_3255.jpg">
    <title><![CDATA[IMG_3255]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3258.jpg"
	thumbURL="thumbs/IMG_3258.jpg"
	linkURL="images/IMG_3258.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMG_3258.jpg">
    <title><![CDATA[IMG_3258]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3259.jpg"
	thumbURL="thumbs/IMG_3259.jpg"
	linkURL="images/IMG_3259.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMG_3259.jpg">
    <title><![CDATA[IMG_3259]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3289.jpg"
	thumbURL="thumbs/IMG_3289.jpg"
	linkURL="images/IMG_3289.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMG_3289.jpg">
    <title><![CDATA[IMG_3289]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3291.jpg"
	thumbURL="thumbs/IMG_3291.jpg"
	linkURL="images/IMG_3291.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMG_3291.jpg">
    <title><![CDATA[IMG_3291]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3300.jpg"
	thumbURL="thumbs/IMG_3300.jpg"
	linkURL="images/IMG_3300.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMG_3300.jpg">
    <title><![CDATA[IMG_3300]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3307.jpg"
	thumbURL="thumbs/IMG_3307.jpg"
	linkURL="images/IMG_3307.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2016 - Lab retreat at Russian River/IMG_3307.jpg">
    <title><![CDATA[IMG_3307]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>