<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="2015 - Holiday Party #2"

>
  <image imageURL="images/IMG_7088.jpg"
	thumbURL="thumbs/IMG_7088.jpg"
	linkURL="images/IMG_7088.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7088.jpg">
    <title><![CDATA[IMG_7088]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7089.jpg"
	thumbURL="thumbs/IMG_7089.jpg"
	linkURL="images/IMG_7089.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7089.jpg">
    <title><![CDATA[IMG_7089]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7090.jpg"
	thumbURL="thumbs/IMG_7090.jpg"
	linkURL="images/IMG_7090.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7090.jpg">
    <title><![CDATA[IMG_7090]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7094.jpg"
	thumbURL="thumbs/IMG_7094.jpg"
	linkURL="images/IMG_7094.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7094.jpg">
    <title><![CDATA[IMG_7094]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7095.jpg"
	thumbURL="thumbs/IMG_7095.jpg"
	linkURL="images/IMG_7095.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7095.jpg">
    <title><![CDATA[IMG_7095]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7096.jpg"
	thumbURL="thumbs/IMG_7096.jpg"
	linkURL="images/IMG_7096.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7096.jpg">
    <title><![CDATA[IMG_7096]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7097.jpg"
	thumbURL="thumbs/IMG_7097.jpg"
	linkURL="images/IMG_7097.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7097.jpg">
    <title><![CDATA[IMG_7097]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7099.jpg"
	thumbURL="thumbs/IMG_7099.jpg"
	linkURL="images/IMG_7099.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7099.jpg">
    <title><![CDATA[IMG_7099]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7102.jpg"
	thumbURL="thumbs/IMG_7102.jpg"
	linkURL="images/IMG_7102.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7102.jpg">
    <title><![CDATA[IMG_7102]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7104.jpg"
	thumbURL="thumbs/IMG_7104.jpg"
	linkURL="images/IMG_7104.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7104.jpg">
    <title><![CDATA[IMG_7104]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7107.jpg"
	thumbURL="thumbs/IMG_7107.jpg"
	linkURL="images/IMG_7107.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7107.jpg">
    <title><![CDATA[IMG_7107]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7110.jpg"
	thumbURL="thumbs/IMG_7110.jpg"
	linkURL="images/IMG_7110.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7110.jpg">
    <title><![CDATA[IMG_7110]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7112.jpg"
	thumbURL="thumbs/IMG_7112.jpg"
	linkURL="images/IMG_7112.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7112.jpg">
    <title><![CDATA[IMG_7112]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7113.jpg"
	thumbURL="thumbs/IMG_7113.jpg"
	linkURL="images/IMG_7113.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7113.jpg">
    <title><![CDATA[IMG_7113]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7116.jpg"
	thumbURL="thumbs/IMG_7116.jpg"
	linkURL="images/IMG_7116.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7116.jpg">
    <title><![CDATA[IMG_7116]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7123.jpg"
	thumbURL="thumbs/IMG_7123.jpg"
	linkURL="images/IMG_7123.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7123.jpg">
    <title><![CDATA[IMG_7123]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7125.jpg"
	thumbURL="thumbs/IMG_7125.jpg"
	linkURL="images/IMG_7125.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7125.jpg">
    <title><![CDATA[IMG_7125]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7126.jpg"
	thumbURL="thumbs/IMG_7126.jpg"
	linkURL="images/IMG_7126.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7126.jpg">
    <title><![CDATA[IMG_7126]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7127.jpg"
	thumbURL="thumbs/IMG_7127.jpg"
	linkURL="images/IMG_7127.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7127.jpg">
    <title><![CDATA[IMG_7127]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7128.jpg"
	thumbURL="thumbs/IMG_7128.jpg"
	linkURL="images/IMG_7128.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7128.jpg">
    <title><![CDATA[IMG_7128]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7129.jpg"
	thumbURL="thumbs/IMG_7129.jpg"
	linkURL="images/IMG_7129.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7129.jpg">
    <title><![CDATA[IMG_7129]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7130.jpg"
	thumbURL="thumbs/IMG_7130.jpg"
	linkURL="images/IMG_7130.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7130.jpg">
    <title><![CDATA[IMG_7130]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7131.jpg"
	thumbURL="thumbs/IMG_7131.jpg"
	linkURL="images/IMG_7131.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7131.jpg">
    <title><![CDATA[IMG_7131]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7132.jpg"
	thumbURL="thumbs/IMG_7132.jpg"
	linkURL="images/IMG_7132.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7132.jpg">
    <title><![CDATA[IMG_7132]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7139.jpg"
	thumbURL="thumbs/IMG_7139.jpg"
	linkURL="images/IMG_7139.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7139.jpg">
    <title><![CDATA[IMG_7139]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7140.jpg"
	thumbURL="thumbs/IMG_7140.jpg"
	linkURL="images/IMG_7140.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7140.jpg">
    <title><![CDATA[IMG_7140]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7141.jpg"
	thumbURL="thumbs/IMG_7141.jpg"
	linkURL="images/IMG_7141.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7141.jpg">
    <title><![CDATA[IMG_7141]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7142.jpg"
	thumbURL="thumbs/IMG_7142.jpg"
	linkURL="images/IMG_7142.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7142.jpg">
    <title><![CDATA[IMG_7142]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7144.jpg"
	thumbURL="thumbs/IMG_7144.jpg"
	linkURL="images/IMG_7144.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7144.jpg">
    <title><![CDATA[IMG_7144]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7145.jpg"
	thumbURL="thumbs/IMG_7145.jpg"
	linkURL="images/IMG_7145.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7145.jpg">
    <title><![CDATA[IMG_7145]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7147.jpg"
	thumbURL="thumbs/IMG_7147.jpg"
	linkURL="images/IMG_7147.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7147.jpg">
    <title><![CDATA[IMG_7147]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7148.jpg"
	thumbURL="thumbs/IMG_7148.jpg"
	linkURL="images/IMG_7148.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7148.jpg">
    <title><![CDATA[IMG_7148]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7149.jpg"
	thumbURL="thumbs/IMG_7149.jpg"
	linkURL="images/IMG_7149.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7149.jpg">
    <title><![CDATA[IMG_7149]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7150.jpg"
	thumbURL="thumbs/IMG_7150.jpg"
	linkURL="images/IMG_7150.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7150.jpg">
    <title><![CDATA[IMG_7150]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7151.jpg"
	thumbURL="thumbs/IMG_7151.jpg"
	linkURL="images/IMG_7151.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7151.jpg">
    <title><![CDATA[IMG_7151]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7152.jpg"
	thumbURL="thumbs/IMG_7152.jpg"
	linkURL="images/IMG_7152.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7152.jpg">
    <title><![CDATA[IMG_7152]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7986.jpg"
	thumbURL="thumbs/IMG_7986.jpg"
	linkURL="images/IMG_7986.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7986.jpg">
    <title><![CDATA[IMG_7986]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7987.jpg"
	thumbURL="thumbs/IMG_7987.jpg"
	linkURL="images/IMG_7987.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Holiday party/IMG_7987.jpg">
    <title><![CDATA[IMG_7987]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>