<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	importTitle="NONE"
	galleryTitle="2018 Holiday Party"

>
  <image imageURL="images/SchafferLabHoliday2018-35.jpg"
	thumbURL="thumbs/SchafferLabHoliday2018-35.jpg"
	linkURL="images/SchafferLabHoliday2018-35.jpg"
	linkTarget="_blank"
	sourcePath="E:\User Files\Downloads\drive-download-20191004T073301Z-001\SchafferLabHoliday2018-35.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLabHoliday2018-1.jpg"
	thumbURL="thumbs/SchafferLabHoliday2018-1.jpg"
	linkURL="images/SchafferLabHoliday2018-1.jpg"
	linkTarget="_blank"
	sourcePath="E:\User Files\Downloads\drive-download-20191004T073301Z-001\SchafferLabHoliday2018-1.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLabHoliday2018-6.jpg"
	thumbURL="thumbs/SchafferLabHoliday2018-6.jpg"
	linkURL="images/SchafferLabHoliday2018-6.jpg"
	linkTarget="_blank"
	sourcePath="E:\User Files\Downloads\drive-download-20191004T073301Z-001\SchafferLabHoliday2018-6.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLabHoliday2018-7.jpg"
	thumbURL="thumbs/SchafferLabHoliday2018-7.jpg"
	linkURL="images/SchafferLabHoliday2018-7.jpg"
	linkTarget="_blank"
	sourcePath="E:\User Files\Downloads\drive-download-20191004T073301Z-001\SchafferLabHoliday2018-7.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLabHoliday2018-9.jpg"
	thumbURL="thumbs/SchafferLabHoliday2018-9.jpg"
	linkURL="images/SchafferLabHoliday2018-9.jpg"
	linkTarget="_blank"
	sourcePath="E:\User Files\Downloads\drive-download-20191004T073301Z-001\SchafferLabHoliday2018-9.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLabHoliday2018-10.jpg"
	thumbURL="thumbs/SchafferLabHoliday2018-10.jpg"
	linkURL="images/SchafferLabHoliday2018-10.jpg"
	linkTarget="_blank"
	sourcePath="E:\User Files\Downloads\drive-download-20191004T073301Z-001\SchafferLabHoliday2018-10.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLabHoliday2018-11.jpg"
	thumbURL="thumbs/SchafferLabHoliday2018-11.jpg"
	linkURL="images/SchafferLabHoliday2018-11.jpg"
	linkTarget="_blank"
	sourcePath="E:\User Files\Downloads\drive-download-20191004T073301Z-001\SchafferLabHoliday2018-11.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLabHoliday2018-14.jpg"
	thumbURL="thumbs/SchafferLabHoliday2018-14.jpg"
	linkURL="images/SchafferLabHoliday2018-14.jpg"
	linkTarget="_blank"
	sourcePath="E:\User Files\Downloads\drive-download-20191004T073301Z-001\SchafferLabHoliday2018-14.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLabHoliday2018-25.jpg"
	thumbURL="thumbs/SchafferLabHoliday2018-25.jpg"
	linkURL="images/SchafferLabHoliday2018-25.jpg"
	linkTarget="_blank"
	sourcePath="E:\User Files\Downloads\drive-download-20191004T073301Z-001\SchafferLabHoliday2018-25.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLabHoliday2018-27.jpg"
	thumbURL="thumbs/SchafferLabHoliday2018-27.jpg"
	linkURL="images/SchafferLabHoliday2018-27.jpg"
	linkTarget="_blank"
	sourcePath="E:\User Files\Downloads\drive-download-20191004T073301Z-001\SchafferLabHoliday2018-27.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLabHoliday2018-42.jpg"
	thumbURL="thumbs/SchafferLabHoliday2018-42.jpg"
	linkURL="images/SchafferLabHoliday2018-42.jpg"
	linkTarget="_blank"
	sourcePath="E:\User Files\Downloads\drive-download-20191004T073301Z-001\SchafferLabHoliday2018-42.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLabHoliday2018-45.jpg"
	thumbURL="thumbs/SchafferLabHoliday2018-45.jpg"
	linkURL="images/SchafferLabHoliday2018-45.jpg"
	linkTarget="_blank"
	sourcePath="E:\User Files\Downloads\drive-download-20191004T073301Z-001\SchafferLabHoliday2018-45.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLabHoliday2018-68.jpg"
	thumbURL="thumbs/SchafferLabHoliday2018-68.jpg"
	linkURL="images/SchafferLabHoliday2018-68.jpg"
	linkTarget="_blank"
	sourcePath="E:\User Files\Downloads\drive-download-20191004T073301Z-001\SchafferLabHoliday2018-68.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLabHoliday2018-74.jpg"
	thumbURL="thumbs/SchafferLabHoliday2018-74.jpg"
	linkURL="images/SchafferLabHoliday2018-74.jpg"
	linkTarget="_blank"
	sourcePath="E:\User Files\Downloads\drive-download-20191004T073301Z-001\SchafferLabHoliday2018-74.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLabHoliday2018-80.jpg"
	thumbURL="thumbs/SchafferLabHoliday2018-80.jpg"
	linkURL="images/SchafferLabHoliday2018-80.jpg"
	linkTarget="_blank"
	sourcePath="E:\User Files\Downloads\drive-download-20191004T073301Z-001\SchafferLabHoliday2018-80.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLabHoliday2018-87.jpg"
	thumbURL="thumbs/SchafferLabHoliday2018-87.jpg"
	linkURL="images/SchafferLabHoliday2018-87.jpg"
	linkTarget="_blank"
	sourcePath="E:\User Files\Downloads\drive-download-20191004T073301Z-001\SchafferLabHoliday2018-87.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLabHoliday2018-88.jpg"
	thumbURL="thumbs/SchafferLabHoliday2018-88.jpg"
	linkURL="images/SchafferLabHoliday2018-88.jpg"
	linkTarget="_blank"
	sourcePath="E:\User Files\Downloads\drive-download-20191004T073301Z-001\SchafferLabHoliday2018-88.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>