<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/DSC01646.jpg"
	thumbURL="thumbs/DSC01646.jpg"
	linkURL="images/DSC01646.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01646.jpg"

>
    <title><![CDATA[DSC01646]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01652.jpg"
	thumbURL="thumbs/DSC01652.jpg"
	linkURL="images/DSC01652.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01652.jpg">
    <title><![CDATA[DSC01652]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01656.jpg"
	thumbURL="thumbs/DSC01656.jpg"
	linkURL="images/DSC01656.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01656.jpg">
    <title><![CDATA[DSC01656]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01659.jpg"
	thumbURL="thumbs/DSC01659.jpg"
	linkURL="images/DSC01659.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01659.jpg">
    <title><![CDATA[DSC01659]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01660.jpg"
	thumbURL="thumbs/DSC01660.jpg"
	linkURL="images/DSC01660.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01660.jpg">
    <title><![CDATA[DSC01660]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01661.jpg"
	thumbURL="thumbs/DSC01661.jpg"
	linkURL="images/DSC01661.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01661.jpg">
    <title><![CDATA[DSC01661]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01662.jpg"
	thumbURL="thumbs/DSC01662.jpg"
	linkURL="images/DSC01662.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01662.jpg">
    <title><![CDATA[DSC01662]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01663.jpg"
	thumbURL="thumbs/DSC01663.jpg"
	linkURL="images/DSC01663.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01663.jpg">
    <title><![CDATA[DSC01663]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01665.jpg"
	thumbURL="thumbs/DSC01665.jpg"
	linkURL="images/DSC01665.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01665.jpg">
    <title><![CDATA[DSC01665]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01672.jpg"
	thumbURL="thumbs/DSC01672.jpg"
	linkURL="images/DSC01672.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01672.jpg">
    <title><![CDATA[DSC01672]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01674.jpg"
	thumbURL="thumbs/DSC01674.jpg"
	linkURL="images/DSC01674.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01674.jpg">
    <title><![CDATA[DSC01674]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01678.jpg"
	thumbURL="thumbs/DSC01678.jpg"
	linkURL="images/DSC01678.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01678.jpg">
    <title><![CDATA[DSC01678]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01680.jpg"
	thumbURL="thumbs/DSC01680.jpg"
	linkURL="images/DSC01680.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01680.jpg">
    <title><![CDATA[DSC01680]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01682.jpg"
	thumbURL="thumbs/DSC01682.jpg"
	linkURL="images/DSC01682.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01682.jpg">
    <title><![CDATA[DSC01682]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01683.jpg"
	thumbURL="thumbs/DSC01683.jpg"
	linkURL="images/DSC01683.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01683.jpg">
    <title><![CDATA[DSC01683]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01684.jpg"
	thumbURL="thumbs/DSC01684.jpg"
	linkURL="images/DSC01684.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01684.jpg">
    <title><![CDATA[DSC01684]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01686.jpg"
	thumbURL="thumbs/DSC01686.jpg"
	linkURL="images/DSC01686.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01686.jpg">
    <title><![CDATA[DSC01686]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01688.jpg"
	thumbURL="thumbs/DSC01688.jpg"
	linkURL="images/DSC01688.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01688.jpg">
    <title><![CDATA[DSC01688]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01689.jpg"
	thumbURL="thumbs/DSC01689.jpg"
	linkURL="images/DSC01689.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01689.jpg">
    <title><![CDATA[DSC01689]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01713.jpg"
	thumbURL="thumbs/DSC01713.jpg"
	linkURL="images/DSC01713.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01713.jpg">
    <title><![CDATA[DSC01713]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01717.jpg"
	thumbURL="thumbs/DSC01717.jpg"
	linkURL="images/DSC01717.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01717.jpg">
    <title><![CDATA[DSC01717]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01723.jpg"
	thumbURL="thumbs/DSC01723.jpg"
	linkURL="images/DSC01723.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01723.jpg">
    <title><![CDATA[DSC01723]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01724.jpg"
	thumbURL="thumbs/DSC01724.jpg"
	linkURL="images/DSC01724.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01724.jpg">
    <title><![CDATA[DSC01724]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01727.jpg"
	thumbURL="thumbs/DSC01727.jpg"
	linkURL="images/DSC01727.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01727.jpg">
    <title><![CDATA[DSC01727]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01728.jpg"
	thumbURL="thumbs/DSC01728.jpg"
	linkURL="images/DSC01728.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01728.jpg">
    <title><![CDATA[DSC01728]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01729.jpg"
	thumbURL="thumbs/DSC01729.jpg"
	linkURL="images/DSC01729.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01729.jpg">
    <title><![CDATA[DSC01729]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01730.jpg"
	thumbURL="thumbs/DSC01730.jpg"
	linkURL="images/DSC01730.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01730.jpg">
    <title><![CDATA[DSC01730]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01733.jpg"
	thumbURL="thumbs/DSC01733.jpg"
	linkURL="images/DSC01733.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01733.jpg">
    <title><![CDATA[DSC01733]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01734.jpg"
	thumbURL="thumbs/DSC01734.jpg"
	linkURL="images/DSC01734.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01734.jpg">
    <title><![CDATA[DSC01734]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01736.jpg"
	thumbURL="thumbs/DSC01736.jpg"
	linkURL="images/DSC01736.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01736.jpg">
    <title><![CDATA[DSC01736]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01737.jpg"
	thumbURL="thumbs/DSC01737.jpg"
	linkURL="images/DSC01737.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01737.jpg">
    <title><![CDATA[DSC01737]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01740.jpg"
	thumbURL="thumbs/DSC01740.jpg"
	linkURL="images/DSC01740.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01740.jpg">
    <title><![CDATA[DSC01740]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01743.jpg"
	thumbURL="thumbs/DSC01743.jpg"
	linkURL="images/DSC01743.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01743.jpg">
    <title><![CDATA[DSC01743]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01745.jpg"
	thumbURL="thumbs/DSC01745.jpg"
	linkURL="images/DSC01745.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01745.jpg">
    <title><![CDATA[DSC01745]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01751.jpg"
	thumbURL="thumbs/DSC01751.jpg"
	linkURL="images/DSC01751.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01751.jpg">
    <title><![CDATA[DSC01751]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01753.jpg"
	thumbURL="thumbs/DSC01753.jpg"
	linkURL="images/DSC01753.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01753.jpg">
    <title><![CDATA[DSC01753]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01757.jpg"
	thumbURL="thumbs/DSC01757.jpg"
	linkURL="images/DSC01757.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01757.jpg">
    <title><![CDATA[DSC01757]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01763.jpg"
	thumbURL="thumbs/DSC01763.jpg"
	linkURL="images/DSC01763.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01763.jpg">
    <title><![CDATA[DSC01763]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01765.jpg"
	thumbURL="thumbs/DSC01765.jpg"
	linkURL="images/DSC01765.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01765.jpg">
    <title><![CDATA[DSC01765]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01767.jpg"
	thumbURL="thumbs/DSC01767.jpg"
	linkURL="images/DSC01767.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01767.jpg">
    <title><![CDATA[DSC01767]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01769.jpg"
	thumbURL="thumbs/DSC01769.jpg"
	linkURL="images/DSC01769.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01769.jpg">
    <title><![CDATA[DSC01769]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01772.jpg"
	thumbURL="thumbs/DSC01772.jpg"
	linkURL="images/DSC01772.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01772.jpg">
    <title><![CDATA[DSC01772]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01775.jpg"
	thumbURL="thumbs/DSC01775.jpg"
	linkURL="images/DSC01775.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01775.jpg">
    <title><![CDATA[DSC01775]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01777.jpg"
	thumbURL="thumbs/DSC01777.jpg"
	linkURL="images/DSC01777.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01777.jpg">
    <title><![CDATA[DSC01777]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01784.jpg"
	thumbURL="thumbs/DSC01784.jpg"
	linkURL="images/DSC01784.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01784.jpg">
    <title><![CDATA[DSC01784]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01785.jpg"
	thumbURL="thumbs/DSC01785.jpg"
	linkURL="images/DSC01785.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01785.jpg">
    <title><![CDATA[DSC01785]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01793.jpg"
	thumbURL="thumbs/DSC01793.jpg"
	linkURL="images/DSC01793.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01793.jpg">
    <title><![CDATA[DSC01793]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01797.jpg"
	thumbURL="thumbs/DSC01797.jpg"
	linkURL="images/DSC01797.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01797.jpg">
    <title><![CDATA[DSC01797]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01801.jpg"
	thumbURL="thumbs/DSC01801.jpg"
	linkURL="images/DSC01801.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01801.jpg">
    <title><![CDATA[DSC01801]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC01803.jpg"
	thumbURL="thumbs/DSC01803.jpg"
	linkURL="images/DSC01803.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/public_html/Gallery/Lab/images/DSC01803.jpg">
    <title><![CDATA[DSC01803]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>