<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="The Schaffer Lab's 20th Anniversary"

>
  <image imageURL="images/SchafferLab20th_July2019-135.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-135.jpg"
	linkURL="images/SchafferLab20th_July2019-135.jpg"
	linkTarget="_blank"
	sourcePath="/Users/meme/Desktop/Schaffer Lab 20th Anniversary/SchafferLab20th_July2019-135.jpg">
    <title><![CDATA[SchafferLab20th_July2019-135]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-75.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-75.jpg"
	linkURL="images/SchafferLab20th_July2019-75.jpg"
	linkTarget="_blank"
	sourcePath="/Users/meme/Desktop/Schaffer Lab 20th Anniversary/SchafferLab20th_July2019-75.jpg">
    <title><![CDATA[SchafferLab20th_July2019-75]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-127.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-127.jpg"
	linkURL="images/SchafferLab20th_July2019-127.jpg"
	linkTarget="_blank"
	sourcePath="/Users/meme/Desktop/Schaffer Lab 20th Anniversary/SchafferLab20th_July2019-127.jpg">
    <title><![CDATA[SchafferLab20th_July2019-127]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-103.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-103.jpg"
	linkURL="images/SchafferLab20th_July2019-103.jpg"
	linkTarget="_blank"
	sourcePath="/Users/meme/Desktop/Schaffer Lab 20th Anniversary/SchafferLab20th_July2019-103.jpg">
    <title><![CDATA[SchafferLab20th_July2019-103]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-59.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-59.jpg"
	linkURL="images/SchafferLab20th_July2019-59.jpg"
	linkTarget="_blank"
	sourcePath="/Users/meme/Desktop/Schaffer Lab 20th Anniversary/SchafferLab20th_July2019-59.jpg">
    <title><![CDATA[SchafferLab20th_July2019-59]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-26.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-26.jpg"
	linkURL="images/SchafferLab20th_July2019-26.jpg"
	linkTarget="_blank"
	sourcePath="/Users/meme/Desktop/Schaffer Lab 20th Anniversary/SchafferLab20th_July2019-26.jpg">
    <title><![CDATA[SchafferLab20th_July2019-26]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-21.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-21.jpg"
	linkURL="images/SchafferLab20th_July2019-21.jpg"
	linkTarget="_blank"
	sourcePath="/Users/meme/Desktop/Schaffer Lab 20th Anniversary/SchafferLab20th_July2019-21.jpg">
    <title><![CDATA[SchafferLab20th_July2019-21]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SchafferLab20th_July2019-13.jpg"
	thumbURL="thumbs/SchafferLab20th_July2019-13.jpg"
	linkURL="images/SchafferLab20th_July2019-13.jpg"
	linkTarget="_blank"
	sourcePath="/Users/meme/Desktop/Schaffer Lab 20th Anniversary/SchafferLab20th_July2019-13.jpg">
    <title><![CDATA[SchafferLab20th_July2019-13]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R0010631.jpg"
	thumbURL="thumbs/R0010631.jpg"
	linkURL="images/R0010631.jpg"
	linkTarget="_blank"
	sourcePath="/Users/meme/Desktop/Schaffer Lab 20th Anniversary/R0010631.JPG">
    <title><![CDATA[R0010631]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R0010627.jpg"
	thumbURL="thumbs/R0010627.jpg"
	linkURL="images/R0010627.jpg"
	linkTarget="_blank"
	sourcePath="/Users/meme/Desktop/Schaffer Lab 20th Anniversary/R0010627.JPG">
    <title><![CDATA[R0010627]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R0010622.jpg"
	thumbURL="thumbs/R0010622.jpg"
	linkURL="images/R0010622.jpg"
	linkTarget="_blank"
	sourcePath="/Users/meme/Desktop/Schaffer Lab 20th Anniversary/R0010622.JPG">
    <title><![CDATA[R0010622]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R0010612.jpg"
	thumbURL="thumbs/R0010612.jpg"
	linkURL="images/R0010612.jpg"
	linkTarget="_blank"
	sourcePath="/Users/meme/Desktop/Schaffer Lab 20th Anniversary/R0010612.JPG">
    <title><![CDATA[R0010612]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/R0010608.jpg"
	thumbURL="thumbs/R0010608.jpg"
	linkURL="images/R0010608.jpg"
	linkTarget="_blank"
	sourcePath="/Users/meme/Desktop/Schaffer Lab 20th Anniversary/R0010608.JPG">
    <title><![CDATA[R0010608]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>