<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/DSC03251.jpg"
	thumbURL="thumbs/DSC03251.jpg"
	linkURL="images/DSC03251.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03251.jpg"

>
    <title><![CDATA[DSC03251]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03260.jpg"
	thumbURL="thumbs/DSC03260.jpg"
	linkURL="images/DSC03260.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03260.jpg">
    <title><![CDATA[DSC03260]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03262.jpg"
	thumbURL="thumbs/DSC03262.jpg"
	linkURL="images/DSC03262.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03262.jpg">
    <title><![CDATA[DSC03262]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03268.jpg"
	thumbURL="thumbs/DSC03268.jpg"
	linkURL="images/DSC03268.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03268.jpg">
    <title><![CDATA[DSC03268]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03270.jpg"
	thumbURL="thumbs/DSC03270.jpg"
	linkURL="images/DSC03270.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03270.jpg">
    <title><![CDATA[DSC03270]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03272.jpg"
	thumbURL="thumbs/DSC03272.jpg"
	linkURL="images/DSC03272.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03272.jpg">
    <title><![CDATA[DSC03272]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03273.jpg"
	thumbURL="thumbs/DSC03273.jpg"
	linkURL="images/DSC03273.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03273.jpg">
    <title><![CDATA[DSC03273]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03275.jpg"
	thumbURL="thumbs/DSC03275.jpg"
	linkURL="images/DSC03275.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03275.jpg">
    <title><![CDATA[DSC03275]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03276.jpg"
	thumbURL="thumbs/DSC03276.jpg"
	linkURL="images/DSC03276.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03276.jpg">
    <title><![CDATA[DSC03276]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03277.jpg"
	thumbURL="thumbs/DSC03277.jpg"
	linkURL="images/DSC03277.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03277.jpg">
    <title><![CDATA[DSC03277]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03278.jpg"
	thumbURL="thumbs/DSC03278.jpg"
	linkURL="images/DSC03278.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03278.jpg">
    <title><![CDATA[DSC03278]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03280.jpg"
	thumbURL="thumbs/DSC03280.jpg"
	linkURL="images/DSC03280.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03280.jpg">
    <title><![CDATA[DSC03280]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03281.jpg"
	thumbURL="thumbs/DSC03281.jpg"
	linkURL="images/DSC03281.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03281.jpg">
    <title><![CDATA[DSC03281]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03286.jpg"
	thumbURL="thumbs/DSC03286.jpg"
	linkURL="images/DSC03286.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03286.jpg">
    <title><![CDATA[DSC03286]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03288.jpg"
	thumbURL="thumbs/DSC03288.jpg"
	linkURL="images/DSC03288.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03288.jpg">
    <title><![CDATA[DSC03288]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03290.jpg"
	thumbURL="thumbs/DSC03290.jpg"
	linkURL="images/DSC03290.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03290.jpg">
    <title><![CDATA[DSC03290]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03291.jpg"
	thumbURL="thumbs/DSC03291.jpg"
	linkURL="images/DSC03291.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03291.jpg">
    <title><![CDATA[DSC03291]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03292.jpg"
	thumbURL="thumbs/DSC03292.jpg"
	linkURL="images/DSC03292.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03292.jpg">
    <title><![CDATA[DSC03292]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03293.jpg"
	thumbURL="thumbs/DSC03293.jpg"
	linkURL="images/DSC03293.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03293.jpg">
    <title><![CDATA[DSC03293]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03303.jpg"
	thumbURL="thumbs/DSC03303.jpg"
	linkURL="images/DSC03303.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03303.jpg">
    <title><![CDATA[DSC03303]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03307.jpg"
	thumbURL="thumbs/DSC03307.jpg"
	linkURL="images/DSC03307.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03307.jpg">
    <title><![CDATA[DSC03307]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03309.jpg"
	thumbURL="thumbs/DSC03309.jpg"
	linkURL="images/DSC03309.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03309.jpg">
    <title><![CDATA[DSC03309]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03314.jpg"
	thumbURL="thumbs/DSC03314.jpg"
	linkURL="images/DSC03314.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03314.jpg">
    <title><![CDATA[DSC03314]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03317.jpg"
	thumbURL="thumbs/DSC03317.jpg"
	linkURL="images/DSC03317.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03317.jpg">
    <title><![CDATA[DSC03317]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03324.jpg"
	thumbURL="thumbs/DSC03324.jpg"
	linkURL="images/DSC03324.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03324.jpg">
    <title><![CDATA[DSC03324]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03326.jpg"
	thumbURL="thumbs/DSC03326.jpg"
	linkURL="images/DSC03326.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03326.jpg">
    <title><![CDATA[DSC03326]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03329.jpg"
	thumbURL="thumbs/DSC03329.jpg"
	linkURL="images/DSC03329.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03329.jpg">
    <title><![CDATA[DSC03329]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03331.jpg"
	thumbURL="thumbs/DSC03331.jpg"
	linkURL="images/DSC03331.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03331.jpg">
    <title><![CDATA[DSC03331]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03333.jpg"
	thumbURL="thumbs/DSC03333.jpg"
	linkURL="images/DSC03333.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03333.jpg">
    <title><![CDATA[DSC03333]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03339.jpg"
	thumbURL="thumbs/DSC03339.jpg"
	linkURL="images/DSC03339.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03339.jpg">
    <title><![CDATA[DSC03339]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03344.jpg"
	thumbURL="thumbs/DSC03344.jpg"
	linkURL="images/DSC03344.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03344.jpg">
    <title><![CDATA[DSC03344]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03349.jpg"
	thumbURL="thumbs/DSC03349.jpg"
	linkURL="images/DSC03349.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03349.jpg">
    <title><![CDATA[DSC03349]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03354.jpg"
	thumbURL="thumbs/DSC03354.jpg"
	linkURL="images/DSC03354.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03354.jpg">
    <title><![CDATA[DSC03354]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03356.jpg"
	thumbURL="thumbs/DSC03356.jpg"
	linkURL="images/DSC03356.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03356.jpg">
    <title><![CDATA[DSC03356]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03359.jpg"
	thumbURL="thumbs/DSC03359.jpg"
	linkURL="images/DSC03359.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03359.jpg">
    <title><![CDATA[DSC03359]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC03364.jpg"
	thumbURL="thumbs/DSC03364.jpg"
	linkURL="images/DSC03364.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tranlam/Schaffer/Schaffer Lab Retreat 2018/DSC03364.jpg">
    <title><![CDATA[DSC03364]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>