<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="2012 - Winter Party #1"

>
  <image imageURL="images/DSC07295.jpg"
	thumbURL="thumbs/DSC07295.jpg"
	linkURL="images/DSC07295.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07295.jpg">
    <title><![CDATA[DSC07295]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07297.jpg"
	thumbURL="thumbs/DSC07297.jpg"
	linkURL="images/DSC07297.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07297.jpg">
    <title><![CDATA[DSC07297]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07305.jpg"
	thumbURL="thumbs/DSC07305.jpg"
	linkURL="images/DSC07305.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07305.jpg">
    <title><![CDATA[DSC07305]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07307.jpg"
	thumbURL="thumbs/DSC07307.jpg"
	linkURL="images/DSC07307.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07307.jpg">
    <title><![CDATA[DSC07307]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07309.jpg"
	thumbURL="thumbs/DSC07309.jpg"
	linkURL="images/DSC07309.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07309.jpg">
    <title><![CDATA[DSC07309]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07310.jpg"
	thumbURL="thumbs/DSC07310.jpg"
	linkURL="images/DSC07310.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07310.jpg">
    <title><![CDATA[DSC07310]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07311.jpg"
	thumbURL="thumbs/DSC07311.jpg"
	linkURL="images/DSC07311.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07311.jpg">
    <title><![CDATA[DSC07311]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07312.jpg"
	thumbURL="thumbs/DSC07312.jpg"
	linkURL="images/DSC07312.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07312.jpg">
    <title><![CDATA[DSC07312]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07313.jpg"
	thumbURL="thumbs/DSC07313.jpg"
	linkURL="images/DSC07313.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07313.jpg">
    <title><![CDATA[DSC07313]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07314.jpg"
	thumbURL="thumbs/DSC07314.jpg"
	linkURL="images/DSC07314.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07314.jpg">
    <title><![CDATA[DSC07314]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07315.jpg"
	thumbURL="thumbs/DSC07315.jpg"
	linkURL="images/DSC07315.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07315.jpg">
    <title><![CDATA[DSC07315]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07316.jpg"
	thumbURL="thumbs/DSC07316.jpg"
	linkURL="images/DSC07316.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07316.jpg">
    <title><![CDATA[DSC07316]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07317.jpg"
	thumbURL="thumbs/DSC07317.jpg"
	linkURL="images/DSC07317.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07317.jpg">
    <title><![CDATA[DSC07317]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07319.jpg"
	thumbURL="thumbs/DSC07319.jpg"
	linkURL="images/DSC07319.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07319.jpg">
    <title><![CDATA[DSC07319]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07321.jpg"
	thumbURL="thumbs/DSC07321.jpg"
	linkURL="images/DSC07321.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07321.jpg">
    <title><![CDATA[DSC07321]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07322.jpg"
	thumbURL="thumbs/DSC07322.jpg"
	linkURL="images/DSC07322.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07322.jpg">
    <title><![CDATA[DSC07322]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07323.jpg"
	thumbURL="thumbs/DSC07323.jpg"
	linkURL="images/DSC07323.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07323.jpg">
    <title><![CDATA[DSC07323]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07324.jpg"
	thumbURL="thumbs/DSC07324.jpg"
	linkURL="images/DSC07324.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07324.jpg">
    <title><![CDATA[DSC07324]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07325.jpg"
	thumbURL="thumbs/DSC07325.jpg"
	linkURL="images/DSC07325.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07325.jpg">
    <title><![CDATA[DSC07325]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07326.jpg"
	thumbURL="thumbs/DSC07326.jpg"
	linkURL="images/DSC07326.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07326.jpg">
    <title><![CDATA[DSC07326]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07327.jpg"
	thumbURL="thumbs/DSC07327.jpg"
	linkURL="images/DSC07327.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07327.jpg">
    <title><![CDATA[DSC07327]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07328.jpg"
	thumbURL="thumbs/DSC07328.jpg"
	linkURL="images/DSC07328.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07328.jpg">
    <title><![CDATA[DSC07328]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07329.jpg"
	thumbURL="thumbs/DSC07329.jpg"
	linkURL="images/DSC07329.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07329.jpg">
    <title><![CDATA[DSC07329]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07330.jpg"
	thumbURL="thumbs/DSC07330.jpg"
	linkURL="images/DSC07330.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07330.jpg">
    <title><![CDATA[DSC07330]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07333.jpg"
	thumbURL="thumbs/DSC07333.jpg"
	linkURL="images/DSC07333.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07333.jpg">
    <title><![CDATA[DSC07333]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07334.jpg"
	thumbURL="thumbs/DSC07334.jpg"
	linkURL="images/DSC07334.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07334.jpg">
    <title><![CDATA[DSC07334]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07335.jpg"
	thumbURL="thumbs/DSC07335.jpg"
	linkURL="images/DSC07335.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07335.jpg">
    <title><![CDATA[DSC07335]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07337.jpg"
	thumbURL="thumbs/DSC07337.jpg"
	linkURL="images/DSC07337.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07337.jpg">
    <title><![CDATA[DSC07337]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07338.jpg"
	thumbURL="thumbs/DSC07338.jpg"
	linkURL="images/DSC07338.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07338.jpg">
    <title><![CDATA[DSC07338]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07340.jpg"
	thumbURL="thumbs/DSC07340.jpg"
	linkURL="images/DSC07340.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07340.jpg">
    <title><![CDATA[DSC07340]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07341.jpg"
	thumbURL="thumbs/DSC07341.jpg"
	linkURL="images/DSC07341.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07341.jpg">
    <title><![CDATA[DSC07341]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07342.jpg"
	thumbURL="thumbs/DSC07342.jpg"
	linkURL="images/DSC07342.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07342.jpg">
    <title><![CDATA[DSC07342]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07343.jpg"
	thumbURL="thumbs/DSC07343.jpg"
	linkURL="images/DSC07343.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07343.jpg">
    <title><![CDATA[DSC07343]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07344.jpg"
	thumbURL="thumbs/DSC07344.jpg"
	linkURL="images/DSC07344.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07344.jpg">
    <title><![CDATA[DSC07344]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07347.jpg"
	thumbURL="thumbs/DSC07347.jpg"
	linkURL="images/DSC07347.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07347.jpg">
    <title><![CDATA[DSC07347]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07349.jpg"
	thumbURL="thumbs/DSC07349.jpg"
	linkURL="images/DSC07349.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07349.jpg">
    <title><![CDATA[DSC07349]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07350.jpg"
	thumbURL="thumbs/DSC07350.jpg"
	linkURL="images/DSC07350.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07350.jpg">
    <title><![CDATA[DSC07350]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07351.jpg"
	thumbURL="thumbs/DSC07351.jpg"
	linkURL="images/DSC07351.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07351.jpg">
    <title><![CDATA[DSC07351]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07352.jpg"
	thumbURL="thumbs/DSC07352.jpg"
	linkURL="images/DSC07352.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07352.jpg">
    <title><![CDATA[DSC07352]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07355.jpg"
	thumbURL="thumbs/DSC07355.jpg"
	linkURL="images/DSC07355.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07355.jpg">
    <title><![CDATA[DSC07355]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07356.jpg"
	thumbURL="thumbs/DSC07356.jpg"
	linkURL="images/DSC07356.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07356.jpg">
    <title><![CDATA[DSC07356]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07360.jpg"
	thumbURL="thumbs/DSC07360.jpg"
	linkURL="images/DSC07360.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07360.jpg">
    <title><![CDATA[DSC07360]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07361.jpg"
	thumbURL="thumbs/DSC07361.jpg"
	linkURL="images/DSC07361.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07361.jpg">
    <title><![CDATA[DSC07361]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07363.jpg"
	thumbURL="thumbs/DSC07363.jpg"
	linkURL="images/DSC07363.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07363.jpg">
    <title><![CDATA[DSC07363]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07364.jpg"
	thumbURL="thumbs/DSC07364.jpg"
	linkURL="images/DSC07364.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07364.jpg">
    <title><![CDATA[DSC07364]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07365.jpg"
	thumbURL="thumbs/DSC07365.jpg"
	linkURL="images/DSC07365.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07365.jpg">
    <title><![CDATA[DSC07365]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07367.jpg"
	thumbURL="thumbs/DSC07367.jpg"
	linkURL="images/DSC07367.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07367.jpg">
    <title><![CDATA[DSC07367]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07371.jpg"
	thumbURL="thumbs/DSC07371.jpg"
	linkURL="images/DSC07371.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07371.jpg">
    <title><![CDATA[DSC07371]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07373.jpg"
	thumbURL="thumbs/DSC07373.jpg"
	linkURL="images/DSC07373.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07373.jpg">
    <title><![CDATA[DSC07373]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC07374.jpg"
	thumbURL="thumbs/DSC07374.jpg"
	linkURL="images/DSC07374.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2012 - winter party/DSC07374.jpg">
    <title><![CDATA[DSC07374]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>