<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="2015 - Tahoe Retreat #2"

>
  <image imageURL="images/IMG_1317.jpg"
	thumbURL="thumbs/IMG_1317.jpg"
	linkURL="images/IMG_1317.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1317.jpg">
    <title><![CDATA[IMG_1317]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1319.jpg"
	thumbURL="thumbs/IMG_1319.jpg"
	linkURL="images/IMG_1319.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1319.jpg">
    <title><![CDATA[IMG_1319]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1321.jpg"
	thumbURL="thumbs/IMG_1321.jpg"
	linkURL="images/IMG_1321.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1321.jpg">
    <title><![CDATA[IMG_1321]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1323.jpg"
	thumbURL="thumbs/IMG_1323.jpg"
	linkURL="images/IMG_1323.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1323.jpg">
    <title><![CDATA[IMG_1323]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1324.jpg"
	thumbURL="thumbs/IMG_1324.jpg"
	linkURL="images/IMG_1324.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1324.jpg">
    <title><![CDATA[IMG_1324]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1325.jpg"
	thumbURL="thumbs/IMG_1325.jpg"
	linkURL="images/IMG_1325.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1325.jpg">
    <title><![CDATA[IMG_1325]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1326.jpg"
	thumbURL="thumbs/IMG_1326.jpg"
	linkURL="images/IMG_1326.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1326.jpg">
    <title><![CDATA[IMG_1326]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1327.jpg"
	thumbURL="thumbs/IMG_1327.jpg"
	linkURL="images/IMG_1327.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1327.jpg">
    <title><![CDATA[IMG_1327]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1328.jpg"
	thumbURL="thumbs/IMG_1328.jpg"
	linkURL="images/IMG_1328.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1328.jpg">
    <title><![CDATA[IMG_1328]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1329.jpg"
	thumbURL="thumbs/IMG_1329.jpg"
	linkURL="images/IMG_1329.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1329.jpg">
    <title><![CDATA[IMG_1329]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1330.jpg"
	thumbURL="thumbs/IMG_1330.jpg"
	linkURL="images/IMG_1330.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1330.jpg">
    <title><![CDATA[IMG_1330]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1331.jpg"
	thumbURL="thumbs/IMG_1331.jpg"
	linkURL="images/IMG_1331.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1331.jpg">
    <title><![CDATA[IMG_1331]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1332.jpg"
	thumbURL="thumbs/IMG_1332.jpg"
	linkURL="images/IMG_1332.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1332.jpg">
    <title><![CDATA[IMG_1332]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1333.jpg"
	thumbURL="thumbs/IMG_1333.jpg"
	linkURL="images/IMG_1333.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1333.jpg">
    <title><![CDATA[IMG_1333]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1334.jpg"
	thumbURL="thumbs/IMG_1334.jpg"
	linkURL="images/IMG_1334.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1334.jpg">
    <title><![CDATA[IMG_1334]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1335.jpg"
	thumbURL="thumbs/IMG_1335.jpg"
	linkURL="images/IMG_1335.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1335.jpg">
    <title><![CDATA[IMG_1335]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1336.jpg"
	thumbURL="thumbs/IMG_1336.jpg"
	linkURL="images/IMG_1336.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1336.jpg">
    <title><![CDATA[IMG_1336]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1337.jpg"
	thumbURL="thumbs/IMG_1337.jpg"
	linkURL="images/IMG_1337.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1337.jpg">
    <title><![CDATA[IMG_1337]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1338.jpg"
	thumbURL="thumbs/IMG_1338.jpg"
	linkURL="images/IMG_1338.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1338.jpg">
    <title><![CDATA[IMG_1338]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1339.jpg"
	thumbURL="thumbs/IMG_1339.jpg"
	linkURL="images/IMG_1339.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1339.jpg">
    <title><![CDATA[IMG_1339]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1340.jpg"
	thumbURL="thumbs/IMG_1340.jpg"
	linkURL="images/IMG_1340.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1340.jpg">
    <title><![CDATA[IMG_1340]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1341.jpg"
	thumbURL="thumbs/IMG_1341.jpg"
	linkURL="images/IMG_1341.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1341.jpg">
    <title><![CDATA[IMG_1341]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1342.jpg"
	thumbURL="thumbs/IMG_1342.jpg"
	linkURL="images/IMG_1342.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1342.jpg">
    <title><![CDATA[IMG_1342]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1343.jpg"
	thumbURL="thumbs/IMG_1343.jpg"
	linkURL="images/IMG_1343.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1343.jpg">
    <title><![CDATA[IMG_1343]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1344.jpg"
	thumbURL="thumbs/IMG_1344.jpg"
	linkURL="images/IMG_1344.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1344.jpg">
    <title><![CDATA[IMG_1344]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1345.jpg"
	thumbURL="thumbs/IMG_1345.jpg"
	linkURL="images/IMG_1345.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1345.jpg">
    <title><![CDATA[IMG_1345]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1346.jpg"
	thumbURL="thumbs/IMG_1346.jpg"
	linkURL="images/IMG_1346.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1346.jpg">
    <title><![CDATA[IMG_1346]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1347.jpg"
	thumbURL="thumbs/IMG_1347.jpg"
	linkURL="images/IMG_1347.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1347.jpg">
    <title><![CDATA[IMG_1347]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1348.jpg"
	thumbURL="thumbs/IMG_1348.jpg"
	linkURL="images/IMG_1348.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1348.jpg">
    <title><![CDATA[IMG_1348]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1349.jpg"
	thumbURL="thumbs/IMG_1349.jpg"
	linkURL="images/IMG_1349.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1349.jpg">
    <title><![CDATA[IMG_1349]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1350.jpg"
	thumbURL="thumbs/IMG_1350.jpg"
	linkURL="images/IMG_1350.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1350.jpg">
    <title><![CDATA[IMG_1350]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1353.jpg"
	thumbURL="thumbs/IMG_1353.jpg"
	linkURL="images/IMG_1353.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1353.jpg">
    <title><![CDATA[IMG_1353]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1354.jpg"
	thumbURL="thumbs/IMG_1354.jpg"
	linkURL="images/IMG_1354.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1354.jpg">
    <title><![CDATA[IMG_1354]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1355.jpg"
	thumbURL="thumbs/IMG_1355.jpg"
	linkURL="images/IMG_1355.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1355.jpg">
    <title><![CDATA[IMG_1355]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1356.jpg"
	thumbURL="thumbs/IMG_1356.jpg"
	linkURL="images/IMG_1356.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1356.jpg">
    <title><![CDATA[IMG_1356]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1357.jpg"
	thumbURL="thumbs/IMG_1357.jpg"
	linkURL="images/IMG_1357.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1357.jpg">
    <title><![CDATA[IMG_1357]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1359.jpg"
	thumbURL="thumbs/IMG_1359.jpg"
	linkURL="images/IMG_1359.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1359.jpg">
    <title><![CDATA[IMG_1359]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1360.jpg"
	thumbURL="thumbs/IMG_1360.jpg"
	linkURL="images/IMG_1360.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1360.jpg">
    <title><![CDATA[IMG_1360]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1361.jpg"
	thumbURL="thumbs/IMG_1361.jpg"
	linkURL="images/IMG_1361.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1361.jpg">
    <title><![CDATA[IMG_1361]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1362.jpg"
	thumbURL="thumbs/IMG_1362.jpg"
	linkURL="images/IMG_1362.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1362.jpg">
    <title><![CDATA[IMG_1362]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1363.jpg"
	thumbURL="thumbs/IMG_1363.jpg"
	linkURL="images/IMG_1363.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1363.jpg">
    <title><![CDATA[IMG_1363]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1364.jpg"
	thumbURL="thumbs/IMG_1364.jpg"
	linkURL="images/IMG_1364.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1364.jpg">
    <title><![CDATA[IMG_1364]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1365.jpg"
	thumbURL="thumbs/IMG_1365.jpg"
	linkURL="images/IMG_1365.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1365.jpg">
    <title><![CDATA[IMG_1365]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1366.jpg"
	thumbURL="thumbs/IMG_1366.jpg"
	linkURL="images/IMG_1366.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1366.jpg">
    <title><![CDATA[IMG_1366]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1367.jpg"
	thumbURL="thumbs/IMG_1367.jpg"
	linkURL="images/IMG_1367.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1367.jpg">
    <title><![CDATA[IMG_1367]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1368.jpg"
	thumbURL="thumbs/IMG_1368.jpg"
	linkURL="images/IMG_1368.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1368.jpg">
    <title><![CDATA[IMG_1368]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1369.jpg"
	thumbURL="thumbs/IMG_1369.jpg"
	linkURL="images/IMG_1369.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1369.jpg">
    <title><![CDATA[IMG_1369]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1370.jpg"
	thumbURL="thumbs/IMG_1370.jpg"
	linkURL="images/IMG_1370.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1370.jpg">
    <title><![CDATA[IMG_1370]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1371.jpg"
	thumbURL="thumbs/IMG_1371.jpg"
	linkURL="images/IMG_1371.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1371.jpg">
    <title><![CDATA[IMG_1371]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1372.jpg"
	thumbURL="thumbs/IMG_1372.jpg"
	linkURL="images/IMG_1372.jpg"
	linkTarget="_blank"
	sourcePath="/Users/gavinlee/schaffer/Schaffer-Lab/Gallery/2015 - Tahoe retreat/IMG_1372.jpg">
    <title><![CDATA[IMG_1372]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>